/*!
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Longbeard
Author URI: https://www.longbeard.com
Version: 1.0.0
Template: bridge
*/

/******************************************************************

Site Name: The Viel Removed
Author: Longbeard

Stylesheet: Main Stylesheet
******************************************************************/

/*********************
IMPORT ELEMENTS
*********************/

// Sass variables
@import "utilities/variables";

// typography
@import "utilities/type-stack";

// import mixin
@import "utilities/mixins";

@import "vendors/slick";
@import "vendors/lity";

/*********************
IMPORT PAGES
*********************/
// styles in base.scss
@import "pages/base";

// Homepage
.home {
  @import "pages/homepage";
  overflow-x: hidden;
}

// About
.page-id-14,
.page-id-332 {
  @import "pages/about";
}

// Privacy
.privacy-policy,
.page-id-351 {
  @import "pages/privacy";
}

// Contact
.page-id-25, // Dev only, remove before push!!,
.page-id-21 {
  @import "pages/contact";
}

// Witnesses
.page-id-20 {
  @import "pages/witnesses";
}

// Resources
.page-id-34 {
  @import "pages/resources";
}

// Watch
.page-id-88,
.page-id-16 {
  @import "pages/watch";
}

.page-id-18,
.page-id-219 {
  @import "pages/news";
}

// Donate
.page-id-23 {
  @import "pages/donate";
}

.page-id-226,
.page-id-3577,
.page-id- {
  @import "pages/events";
}

// Search
.search-results {
  @import "pages/search";
}

// Post template
.single-post {
  @import "pages/post";
}

// Single Product template
.single-product {
  @import "pages/single-product";
}

.single-tribe_events {
  @import "pages/single-event";
}

// Post template
.error404 {
  @import "pages/404";
}

// FAQ
.page-id-28 {
  @import "pages/faq";
}

.post-type-archive-tribe_events {
  @import "pages/calendar";
}

/*********************
Woocommerce
*********************/
.post-type-archive-product {
  @import "pages/woocommerce/shop";
}

.woocommerce-cart {
  @import "pages/woocommerce/cart";
}

.woocommerce-account {
  @import "pages/woocommerce/account";
}

.woocommerce-checkout {
  @import "pages/woocommerce/checkout";
}
/*********************
PRINT STYLESHEET
*********************/
@media print {
  // styles in print.scss
  @import "utilities/print";
}
