/******************************************************************

Stylesheet: About

Styles for About page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
#section-2-14 {
  padding-bottom: 160px !important;

  @include breakpoint($tablet-break) {
    padding-bottom: 80px !important;
  }

  @include breakpoint($mobile-break) {
    padding-bottom: 40px !important;
  }

  .ct-new-columns {
    align-items: center;
  }

  .large-3 {
    @include breakpoint ($laptop-break-lrg) {
      width: $col * 3.5;
    }
    @include breakpoint ($laptop-break) {
      width: $col * 3;
    }
    @include breakpoint($tablet-break) {
      padding: 0 $col;
      margin-bottom: 30px;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    @include breakpoint($mobile-break) {
      padding: 0;
      margin-bottom: 20px;
    }
  }
  .large-8 {
    height: 430px;
    background-position: top center !important;

    @include breakpoint($laptop-break-lrg) {
      height: 292px;
      width: $col * 7;
      margin-left: $col/2;
    }

    @include breakpoint($laptop-break) {
      width: $col * 7.5;
      height: 300px;
    }

    @include breakpoint($tablet-break) {
      height: 270px;
      width: $col * 10 !important;
      margin-left: $col;
      margin-right: $col;
    }
    @include breakpoint($mobile-break) {
      height: 170px;
      width: 100% !important;
      margin: 0;
    }
  }
}

#section-9-14 {
  position: relative;

  .hidden-till-mobile {
    display: none;

    @include breakpoint($mobile-break) {
      display: block;
    }
  }

  h3 {
    max-width: $col * 4;
    margin-bottom: 50px;
    @include font-size(32px, 28px, 24px, 21px);

    @include breakpoint($laptop-break) {
      max-width: $col * 5.25;
      margin-bottom: 30px;
    }

    @include breakpoint($tablet-break) {
      max-width: $col * 8;
      margin-left: $col * 2;
    }

    @include breakpoint($mobile-break) {
      display: none;
    }
  }

  img {
    position: absolute;
    left: 0;
    top: -80px;
    width: 256px;
    height: auto;

    // @include breakpoint($laptop-break) {
    //   width: 176px;
    //   top: -50px;
    // }
    
    @include breakpoint($laptop-break-lrg) {
      width: 176px;
      top: -50px;
    }

    @include breakpoint($laptop-break-sml) {
      width: 156px;
    }

    @include breakpoint($tablet-break) {
      width: 106px;
      top: -15px;
    }

    @include breakpoint($mobile-break) {
      display: none;
    }
  }

  .ct-new-columns {
    @include breakpoint($laptop-break) {
      width: $col * 8;
      margin-left: $col * 4;
    }
    @include breakpoint($tablet-break) {
      width: $col * 8.5;
      margin-left: $col * 2.5;
    }
    @include breakpoint($mobile-break) {
      display: none !important;
    }
    .ct-div-block {
      width: 50% !important;

      @include breakpoint($mobile-break) {
        width: 100% !important;
      }
      &:first-child {
        padding-right: 10px;
        @include breakpoint($mobile-break) {
          padding: 0;
        }
      }

      &:last-child {
        padding-left: 10px;
        @include breakpoint($mobile-break) {
          padding: 0;
          padding-top: 2rem;
        }
      }
    }
  }
}

#section-17-14 {
  @include breakpoint($laptop-break) {
    padding-top: 100px;
  }

  @include breakpoint($tablet-break) {
    padding-top: 80px;
  }

  @include breakpoint($mobile-break) {
    padding-top: 60px;
  }

  h2 {
    @include margin-bottom-30;
  }

  .ct-new-columns {
    align-items: center;

    @include breakpoint($mobile-break) {
      flex-wrap: wrap;
    }
  }

  .large-4 {
    @include breakpoint($laptop-break) {
      width: $col * 6 !important;
      padding-right: $col * 0.75;
    }

    @include breakpoint($tablet-break) {
      width: $col * 7 !important;
      padding-right: $col;
      padding-left: $col;
      margin-left: 0;
    }
    @include breakpoint($mobile-break) {
      width: 100% !important;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 20px;
    }
  }

  .large-7 {
    padding-right: $col;
    padding-left: $col/2;

    @include breakpoint($laptop-break) {
      width: $col * 5 !important;
      padding: 0;
    }

    @include breakpoint($tablet-break) {
      padding-right: $col;
    }

    @include breakpoint($mobile-break) {
      width: 100% !important;
      padding: 0;
    }

    > .ct-div-block {
      width: 100%;
      height: 404px;
      @include bg-cc;

      @include breakpoint($laptop-break) {
        height: 240px;
      }

      @include breakpoint($tablet-break) {
        height: 275px;
      }

      @include breakpoint($mobile-break) {
        height: 175px;
      }
    }
  }
}

#section-35-14 {
  h2 {
    width: 100%;
    padding: 0 $col;
    margin-bottom: 50px;

    @include breakpoint($tablet-break) {
      margin-bottom: 60px;
    }

    @include breakpoint($mobile-break) {
      margin-bottom: 20px;
      padding: 0;
      max-width: $col * 8;
    }
  }

  .large-9 {
    @include breakpoint($laptop-break) {
      width: 100% !important;
      padding-left: $col;
      margin: 0;
    }

    @include breakpoint($mobile-break) {
      padding-left: 0;
    }

    .ct-new-columns {
      .ct-div-block {
        position: relative;

        &:first-child {
          width: $col * 5;
          padding-right: $col;
          margin-bottom: 7rem;

          @include breakpoint($laptop-break) {
            width: $col * 5;
            margin-bottom: 5rem;
          }

          @include breakpoint($mobile-break) {
            width: 100%;
            padding-right: 0;
            margin-bottom: 70px;
          }

          .large-letter {
            font-family: $serif;
            font-weight: 700;
            @include font-size(325px, 280px, 240px, 240px);
            line-height: 1;
            opacity: 0.1;
            color: $color1;
            pointer-events: none;
            position: absolute;
            bottom: -8rem;
            left: -9rem;
            z-index: 9;

            @include breakpoint($tablet-break) {
              left: -7rem;
              bottom: -7rem;
            }

            @include breakpoint($mobile-break) {
              left: initial;
              right: -50%;
              line-height: 0.85;
              top: calc(50% + -1rem);
              bottom: inherit;
              transform: translateY(-50%);
            }
          }

          .image {
            width: 100%;
            position: relative;
            z-index: 11;
            @include breakpoint($mobile-break) {
              width: $col * 8.25;
            }

            @include breakpoint($mobile-break-sml) {
              width: $col * 9;
            }
            .image-inner {
              width: 100%;
              position: relative;
              padding-bottom: 100%;
              position: relative;
              z-index: 11;
              overflow: hidden;

              &::before {
                width: 1rem;
                height: calc(24px + 7px + 0.85rem);
                background: white;
                position: absolute;
                right: -0.5rem;
                bottom: -1px;
                z-index: 10;

                @include breakpoint($tablet-break) {
                  content: "";
                }
//                 +              @include breakpoint($tablet-break) {
// +                &::before {
// +                  content: "";
// +                  width: 1rem;
// +                  height: calc(24px + 7px + 0.85rem);
// +                  background: white;
// +                  position: absolute;
// +                  right: -0.5rem;
// +                  bottom: -1px;
// +                  z-index: 10;
// +                }
// +              }

                @include breakpoint($mobile-break) {
                  height: calc(21px + 5px + 0.95rem);
                }
              }

              .name {
                position: absolute;
                bottom: -1px;
                right: -1px;
                line-height: 1 !important;
                background: $white;
                z-index: 12;
                padding: 0.75rem 1px 6px 0.75rem;
                @include font-size(32px, 28px, 24px, 21px);

                @include breakpoint($tablet-break) {
                  padding: 0.85rem 2px 7px 1rem;
                }
                @include breakpoint($mobile-break) {
                  padding: 0.95rem 0.95rem 5px 0.95rem;
                  right: -1px;
                }
              }
              .image-bg {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                @include bg-cc;
              }
            }
          }
        }
        &:last-child {
          width: $col * 7;
          padding-right: $col/2;
          padding-left: $col/2;

          @include breakpoint($laptop-break) {
            width: $col * 7;
            padding-right: $col;
            padding-left: $col/2;
          }

          @include breakpoint($mobile-break) {
            width: 100%;
            padding: 0;
          }

          blockquote {
            margin: 0;
            padding: 0;
            position: relative;
            padding-top: 2.5rem;
            margin-bottom: calc(40px - 1rem);

            @include breakpoint($laptop-break) {
              margin-bottom: calc(30px - 1rem);
            }

            @include breakpoint($tablet-break) {
              margin-bottom: calc(20px - 1rem);
            }

            &::after {
              content: "“";
              @include font-size(200px, 175px, 150px, 150px);
              font-family: $serif;
              position: absolute;
              left: -5.5rem;
              top: -2rem;
              line-height: 1;
              z-index: 2;
              color: $color1;
              opacity: 0.1;

              @include breakpoint($laptop-break) {
                left: -5.5rem;
                top: -0.35em;
              }

              @include breakpoint($tablet-break) {
                left: -4.5rem;
                top: -0.285em;
              }

              @include breakpoint($mobile-break) {
                left: -1.5rem;
                top: -0.325em;
              }
            }

            p {
              font-family: $serif !important;
              @include font-size(20px, 17.5px, 15px, 15px);
              color: $color1;
            }
          }
        }
      }
    }
  }
}

#section-22-14,
#section-23-14 {
  h2 {
    margin-bottom: 50px;

    @include breakpoint($tablet-break) {
      margin-bottom: 30px;
      margin-left: 0;
      padding: 0 $col;
    }

    @include breakpoint($mobile-break) {
      padding: 0;
    }
  }
  .ct-code-block {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-column-gap: $col * 1.75;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin: 0;
    padding: 0 0 0 $col;

    @include breakpoint($tablet-break) {
      // grid-template-columns: repeat(2, 1fr);
      // grid-column-gap: $col * 3.5;
      // grid-row-gap: 60px;
      margin-bottom: -60px;
      padding-right: $col;;
    }

    @include breakpoint($mobile-break) {
      // grid-template-columns: 1fr;
      padding: 0;
    }

    .board-member,
    .team-member {
      position: relative;
      margin-top: 2.5rem;
      width: calc(33.333% - 8rem);
      margin-right: 8rem;

      @include breakpoint($tablet-break) {
        padding-bottom: 60px;
        margin-right: 12rem;
        width: calc(50% - 6rem);

        &:nth-child(even) {
          margin-right: 0;;
        }
      }

      @include breakpoint($mobile-break) {
        padding: 0 $col * 2;
        margin-right: 0;
        width: 100%;
      }

      &:nth-child(3n + 2) {
        margin-top: calc(3rem + 120px);

        @include breakpoint($tablet-break) {
          margin-top: 2.5rem;
        }
      }

      .large-letter {
        font-family: $serif;
        font-weight: 700;
        @include font-size(325px, 280px, 240px, 240px);
        line-height: 1;
        opacity: 0.1;
        color: $color1;
        pointer-events: none;
        position: absolute;
        top: -7rem;
        left: -9rem;
        z-index: 9;

        @include breakpoint($tablet-break) {
          top: -5rem;
          left: -7rem;
        }

        @include breakpoint($mobile-break) {
          top: -4.5rem;
          left: -1.75rem;
        }
      }

      .board-member-inner,
      .team-member-inner {
        position: relative;
        z-index: 11;
      }

      .info {
        .title {
          margin-bottom: 5px;
          @include font-size(28px, 21px, 15px, 15px);

          @include breakpoint($tablet-break) {
            margin-bottom: 3px;
          }
        }

        .role {
          font-family: $serif !important;
          margin-bottom: 20px !important;
          @include font-size(16px, 14px, 12px, 12px);

          @include breakpoint($tablet-break) {
            margin-bottom: 7px !important;
          }
        }
      }

      .image {
        width: 100%;
        .image-inner {
          width: 100%;
          position: relative;
          padding-bottom: 100%;
          .image-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            @include bg-cc;
          }
        }
      }
    }
  }
}
