/******************************************************************

Stylesheet: Calendar

Styles for Calendar page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

section.grid-container {
    margin-top: 100px;

    @include breakpoint($laptop-break) {
        margin-top: 80px;
    }
    min-height: calc(100vh - 80px - 200px);
    .ct-section-inner-wrap {
        padding: 0 $col;

        @include breakpoint($tablet-break) {
            padding: 0;
        }
    }

    h1 {
        margin-top: 0 !important;
        margin-bottom: 40px;
        line-height: 1.2em !important;
        @include breakpoint($tablet-break) {
            margin-bottom: 20px;
        }
    }

    .tribe-events-page-title {
        text-align: left;
    }

    #tribe-events-bar {
        // display: none;
    }
    
    .tribe-events-button {
        font-family: $sans-serif;
    }
    
    .tribe-bar-submit {
        height: 75px;
        display: flex;
    }
    
    .tribe-events-event-image img {
        display: none;
    }
    
    .tribe-events-loop .type-tribe_events .tribe-events-event-meta {
        @include breakpoint($mobile-break) {
            margin-top: 10px;
        }
    }

    .tribe-events-button {
        @include btn;
    }
    .tribe-events-ical {
        display: none !important;
    }
    .tribe-events-nav-pagination {
        li {
            a {
                padding: 0 !important;
                background: transparent !important;
                color: $color3;
                @include font-size(16px, 14px, 12px, 12px);
                font-family: $sans-serif !important;
                font-weight: 700 !important;
            }
        }
    }
    #tribe-events-header {
        @include breakpoint($mobile-break) {
            margin: 0;
        }
        .tribe-events-nav-pagination {
            margin-bottom: 30px;

            @include breakpoint($tablet-break) {
                margin-bottom: 15px;
            }
        }
    }
    #tribe-events-footer {
        .tribe-events-nav-pagination {
            margin-top: 30px;

            @include breakpoint($tablet-break) {
                margin-top: 15px;
            }
        }
    }

    table:not(#yes) {
        margin: 0;

        thead {
            th {
                background: $color3;
                color: $white;
                border-color: $color3;
                font-family: $sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                
                @include breakpoint ($mobile-break) {
                    font-size: 0.6rem;
                }
            }
        }
        tbody {
            td {
                border-color: $color3;

                @include breakpoint($tablet-break) {
                    height: 75px;
                }

                @include breakpoint($mobile-break) {
                    height: 50px;
                }

                div[id*="tribe-events-daynum-"] {
                    background: transparent !important;
                    text-align: right;
                    color: $color3 !important;

                    @include breakpoint($tablet-break) {
                        font-size: 12px !important;
                        padding: 0 2px;

                        a {
                            font-size: 12px !important;
                        }
                    }

                    >a {
                        background: transparent !important;
                        color: $color3;

                        &:hover {
                            color: $color2;
                        }
                    }
                }

                &.tribe-events-othermonth,
                &.tribe-events-past {
                    background: transparent !important;
                    .tribe_events {
                        opacity: 1 !important;
                        color: $white !important;
                        background: transparentize($color: $color3, $amount: 0.7);

                        a {
                            opacity: 1 !important;
                        }
                    }
                }

                &.tribe-events-present {
                    &.mobile-active {
                        background: transparent !important;
                    }
                    div[id*="tribe-events-daynum-"] {
                        background: $color1 !important;
                        color: $white !important;

                        a {
                            color: $white !important;
                            &:hover {
                                color: $gray !important;
                            }
                        }
                    }
                }
                .tribe_events {
                    background: $color3;

                    h3 {
                        @include font-size(12px, 11px, 9px, 9px);
                        a {
                            color: $white;
                            font-family: $sans-serif !important;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
