/******************************************************************

Stylesheet: Contact

Styles for Contact page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.ct-inner-content {
  @include breakpoint($laptop-break) {
    min-height: calc(100vh - 80px - 320px);
  }
  .large-8 {
    @include margin-bottom-30;

    @include breakpoint($laptop-break-lrg) {
      width: 100% !important;
      padding: 0 $col;
      margin-left: 0;
      margin-right: 0;
    }
    @include breakpoint($tablet-break) {
      padding: 0;
    }
  }

  .ct-new-columns {
    &:not(#yes) {
      flex-wrap: nowrap;

      @include breakpoint($mobile-break) {
        flex-wrap: wrap;
      }
      .large-5 {
        @include breakpoint($laptop-break-lrg) {
          width: $col * 7 !important;
          padding: 0 $col;
          margin: 0;
        }

        @include breakpoint($tablet-break) {
          width: $col * 7 !important;
          padding-left: 0;
        }

        @include breakpoint($mobile-break) {
          width: 100% !important;
          padding: 0;
        }
      }

      .large-4 {
        width: calc(33.3333% - 12.5%) !important;
        margin-right: 12.5%;
        margin-top: -1rem;

        @include breakpoint($laptop-break-lrg) {
          width: $col * 5 !important;
          padding: 0 $col * 0.75 0 $col * 0.75;
          margin: 0;
        }

        @include breakpoint($tablet-break) {
          width: $col * 5 !important;
          padding-right: 0;
        }

        @include breakpoint($mobile-break) {
          width: 100% !important;
          padding: 0;
          margin-top: 60px;
        }

        > .ct-div-block {
          width: 100%;
          background: $white;
          box-shadow: 0 3px 6px transparentize($color: $black, $amount: 0.84),
            30px 30px 0 $color2;
          padding: 40px;
          margin-bottom: 30px;
          @include breakpoint($laptop-break) {
            padding: 40px 30px;
          }
          @include breakpoint($laptop-break-sml) {
            padding: 30px 22px;
          }
          @include breakpoint($tablet-break) {
            box-shadow: 0 3px 6px transparentize($color: $black, $amount: 0.84),
              20px 20px 0 $color2;
            padding: 25px 20px;
            margin-bottom: 20px;
          }
          @include breakpoint($mobile-break) {
            width: calc(100% - 30px);
            padding: 30px;
            box-shadow: 0 3px 6px transparentize($color: $black, $amount: 0.84),
              30px 30px 0 $color2;
          }
          > .ct-div-block {
            margin-bottom: 30px;
            flex-direction: column !important;

            @include breakpoint($mobile-break) {
              margin-bottom: 20px;
            }

            &:last-child {
              margin-bottom: 0 !important;
            }

            h4 {
              font-family: $sans-serif !important;
              font-weight: 700 !important;
              @include font-size(26px, 21px, 18px, 18px);
            }

            > .ct-div-block {
              flex-direction: row !important;
              align-items: center;
              &:first-child {
                @include margin-bottom-20;
              }
            }

            > .oxy-rich-text {
              margin-left: calc(25px + 1rem);

              p {
                line-height: 1.5rem !important;
                @include breakpoint($tablet-break) {
                  font-size: 12px !important;
                }

                a {
                  position: relative;
                  padding-bottom: 4px;
                  color: $color3;
                  transition: $transition;

                  &:hover {
                    color: $color1;

                    &::after {
                      transform: scaleX(1);
                    }
                  }

                  &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $color1;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: scaleX(0);
                    transition: $transition;
                    transform-origin: center left;
                  }
                }
              }
            }

            #div_block-46-25 {
              .ct-code-block {
                display: flex;
              }
              a {
                color: $color1;
                transition: $transition;
                margin-left: 1rem;

                &:first-child {
                  margin-left: calc(25px + 1rem);
                }
                &:hover {
                  svg {
                    path {
                      fill: $color3;
                    }
                  }
                }
              }

              svg {
                max-width: 20px;
                max-height: 20px;
                width: 100%;
                color: $color1;
                transition: $transition;

                path {
                  transition: $transition;
                  fill: $color1;
                }
              }
            }
          }

          img {
            width: 25px;
            height: 25px;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
