/******************************************************************

Stylesheet: Donate

Styles for Donate page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.ct-inner-content {
	position: relative;

	@include breakpoint($laptop-break) {
		min-height: calc(100vh - 80px - 320px);
	}
	&::before {
		content: '';
		height: 620px;
		width: 100%;
		background: $color5;
		position: absolute;
		left: 0;
		top: 0;

		@include breakpoint($laptop-break) {
			height: 400px;
		}

		@include breakpoint($tablet-break) {
			display: none;
		}
	}

	#section-2-23 {
		overflow: hidden;
	}

	.ct-section-inner-wrap {
		&::before {
			content: '';
			height: 620px;
			width: 100%;
			background: $white;
			position: absolute;
			left: 5rem;
			top: 620px;
			z-index: 5;

			@include breakpoint($laptop-break) {
				height: 400px;
				top: 400px;
			}

			@include breakpoint($tablet-break) {
				display: none;
			}
		}
	}
}

.grid-x {
	position: relative;
	z-index: 10;
}
.large-8 {
	background: $white;
	padding: $col-vw/2 $col-vw;
	box-shadow: 0 3px 6px transparentize($color: $black, $amount: 0.85);

	@include breakpoint($tablet-break) {
		padding: 0;
		box-shadow: none;
	}
}

#image-5-23 {
	position: absolute;
	right: 0;
	top: 0;
	height: 620px;
	width: auto;
	z-index: 3;

	@include breakpoint($laptop-break) {
		right: -$col/2;
	}

	@include breakpoint($tablet-break) {
		display: none;
	}
}

.gform_wrapper {
	@include breakpoint($tablet-break) {
		padding-right: $col * 3 !important;
	}

	@include breakpoint($mobile-break) {
		padding-right: 0 !important;
	}
	.gform_title {
		font: $h1;
	}
	.gfield.gfield_html {
		&:not(#yes) {
			margin-top: 0 !important;
			padding-top: 40px !important;

			@include breakpoint($tablet-break) {
				padding-top: 30px !important;
			}

			@include breakpoint($mobile-break) {
				padding-top: 20px !important;
			}

			h3 {
				font-family: $sans-serif !important;
				@include font-size(20px, 18px, 15px, 15px);
				font-weight: 700 !important;
			}

			img {
				width: 110px;
				margin-top: 20px;
				display: block;

				@include breakpoint($tablet-break) {
					width: 120px;
				}

				@include breakpoint($mobile-break) {
					margin-top: 10px;
				}
			}
		}
	}

	.gfield span.name_last:not(#test) {
		margin-top: 0 !important;
	}

	#field_2_3 {
		margin-top: 0 !important;
		overflow: hidden;

		#input_2_3 {
			margin-top: 0 !important;
		}
	}

	.ginput_container {
		width: 100% !important;
	}

	.ginput_left,
	.ginput_right,
	.gf_left_half,
	.gf_right_half,
	.name_first,
	.name_last {
		margin: 0 !important;
		float: left;
		padding: 0 !important;
		width: calc(50% - 1rem) !important;
		float: left;
		clear: initial;

		@include breakpoint(640px) {
			width: calc(50% - 0.5rem) !important;
		}
	}

	.ginput_left,
	.gf_left_half,
	.name_first {
		margin-right: 2rem !important;

		@include breakpoint(640px) {
			margin-right: 1rem !important;
		}
	}

	#field_2_8,
	#field_2_9,
	#field_2_18,
	.ginput_cardinfo_right label {
		display: none !important;
	}

	#field_2_14 {
		padding: 0;
	}

	.fields-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;
	}

	#input_2_5,
	#input_2_6,
	#input_2_11 {
		display: flex;
		flex-wrap: wrap;

		li {
			margin-right: 1.5rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	#input_2_5 {
		align-items: center;

		li {
			label, input[type="text"] {
				font-family: $serif !important;
			}
			@include breakpoint($mobile-break) {
				margin-bottom: 0 !important;
			}

			&:last-child {
				label {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					height: 1.5em;
					width: 0;
				}

				input[id*="other"] {
					display: block;
					margin-left: 2rem;
				}
			}
		}
	}

	#field_2_5 {
		width: 100%;
		display: block;
		float: left;
		margin-top: 0 !important;
		margin-bottom: 20px;

		// @include breakpoint($tablet-break) {
		// 	width: 75%;
		// }

		// @include breakpoint($mobile-break) {
		// 	width: 100%;
		// }

		.gfield_radio li {
			@include breakpoint($mobile-break) {
				margin-bottom: 0 !important;
			}
		}
	}

	#field_2_19 {
		width: calc(100% - 350px - 3%);
		float: right;
		display: block;
		clear: none;
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;

		@include breakpoint($laptop-break) {
			width: calc(100% - 350px);
		}

		@include breakpoint($tablet-break) {
			width: 25%;
			float: left;
		}

		@include breakpoint($mobile-break) {
			width: 50%;
			margin-top: 0 !important;

			.ginput_container {
				margin-top: 0 !important;
			}
		}

		input {
			width: 100%;
		}
	}

	#input_2_3_5_container {
		padding: 0 !important;
	}
	#input_2_3_1_container,
	#input_2_3_2_container {
		width: 100%;
	}

	.ginput_card_expiration_container {
		display: flex !important;

		@include breakpoint(640px) {
			flex-wrap: wrap;
		}
	}

	#input_2_10_2_cardinfo_left {
		width: calc((100% / 3 * 2) - 1rem);
		margin-right: 2rem !important;

		@include breakpoint(640px) {
			width: calc((100% / 3 * 2) - 0.5rem);
			width: 100%;
		}

		select {
			width: calc(50% - 1rem) !important;

			@include breakpoint(640px) {
				width: calc(50% - 0.5rem) !important;
			}

			&:first-child {
				margin-right: 2rem !important;

				@include breakpoint(640px) {
					margin-right: 1rem !important;
				}
			}
		}
	}

	#input_2_10_2_cardinfo_right {
		width: calc((100% / 3) - 1rem);

		@include breakpoint(640px) {
			width: 100%;
		}
	}
	#input_2_10_3 {
		width: 100%;
		max-width: calc(100% - 42px) !important;
	}

	.ginput_container_creditcard {
		input,
		select {
			&:not(#yes) {
				margin-top: 1rem !important;

				@include breakpoint($mobile-break) {
					margin-top: 0.75rem !important;
				}
			}
		}
	}

	.gform_footer .gform_button {
		margin-top: 20px !important;

		@include breakpoint($mobile-break) {
			margin-top: 10px !important;
		}
	}

	.check-information {
		padding-bottom: 40px;
		
		h3 {
			margin-bottom: 1rem;
		}
	}
}
