/******************************************************************

Stylesheet: Events

Styles for Events page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

section.grid-container {
  min-height: calc(100vh - 80px - 358px);
  @include section-padding-top-half;
  width: 100%;
  padding-right: $col;
  padding-left: $col;
  overflow: hidden;

  @include breakpoint($tablet-break) {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

h1 {
  @include section-padding-bottom-half;
  @include breakpoint($mobile-break) {
    padding-bottom: 30px !important;
  }
}

.tab-nav {
  margin-bottom: 40px;

  @include breakpoint($tablet-break) {
    margin-bottom: 30px;
  }
}

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
}

article {
  @include row-item-grid(4, 20px, 30px);

  @include breakpoint($tablet-break) {
    @include row-item-grid(3, 15px, 30px);
  }
  @include breakpoint($mobile-break) {
    @include row-item-grid(1, 30px);
  }

  a {
    &:hover {
      .info {
        .title {
          color: $color1 !important;
        }
      }
    }
  }
  .image {
    margin-bottom: 10px;
    .image-inner {
      position: relative;
      display: flex;
      width: 100%;
      padding-bottom: 56.625%;
      overflow: hidden;

      .iamge-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: $transition;
        @include bg-cc;
      }
    }
  }
  .info {
    .title {
      @include font-size(16px, 14px, 12px, 12px);
      font-family: $sans-serif !important;
      color: $color3 !important;
      font-weight: 700 !important;
      margin-bottom: 5px;
      transition: $transition;
    }

    .extras {
      @include font-size(12px, 11px, 9px, 9px);
      font-family: $sans-serif;
      color: $color3;

      .seperator {
        font-family: $sans-serif;
        color: $color1;
        font-weight: 900;
        margin: 0 0.15rem;
      }

      .location a {
        display: inline-block;
      }
    }
  }
}
