/******************************************************************

Stylesheet: FAQ

Styles for FAQ page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
#section-2-28 {
  @include breakpoint($mobile-break) {
    padding-top: 30px !important;
  }
}

.ct-inner-content {
  @include breakpoint($laptop-break) {
    min-height: calc(100vh - 80px - 300px);
  }
}
.grid-x {
  width: 100%;
}
h1 {
  @include margin-bottom-20;
}

.oxy-rich-text {
  @include margin-bottom-30;
}

.large-7 {
  @include breakpoint($laptop-break-lrg) {
    margin: 0;
    width: 100% !important;
    padding: 0 $col;
  }

  @include breakpoint($tablet-break) {
    padding: 0;
  }
}

.categories-title {
  text-transform: uppercase;
  font-weight: 700 !important;
}

.search-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: calc((-0.75rem - 4px) * 2);
  @include margin-bottom-30;

  @include breakpoint($tablet-break) {
    margin-top: 0;
    @include margin-top-20;
  }

  .input-wrapper {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      width: 1rem;
      height: 1rem;
      position: absolute;
      background-image: url("https://theveilremoved.com/wp-content/uploads/2019/11/search-icon-blue.svg");
      background-position: center;
      background-size: contain;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  input {
    font-family: $sans-serif;
    font-size: 1rem;
    border: 1px solid $dark-gray;
    padding: 0.5rem;
    padding-right: 2rem;
    outline: none !important;
  }

  .results {
    color: $dark-gray;
    margin-top: 0.5rem;
    font-size: 0.75rem;

    .total-viewing {
      font-weight: 700;
    }
  }
}
