@charset "utf-8";
/******************************************************************

Stylesheet: Home Page

Styles for Homepage ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.hero-popup {
  position: absolute;
  background: $color1;
  border: 5px solid $white;
  z-index: 9;
  opacity: 0;
  top: 60px;
  right: 95px;
  color: $white;
  padding: 10px 35px 50px;
  width: 400px;
  box-shadow: 0 3px 6px rgba($black, .16);

  @include breakpoint($laptop-break) {
    right: 83.125px;
  }

  @include breakpoint($laptop-break-sml) {
    right: 30px;
    top: 30px;
    width: 30%;
  }

  @include breakpoint($tablet-break) {
    padding: 15px 15px 30px;
    width: 40%;
    max-width: 285px;
  }

  @include breakpoint($mobile-break) {
    top: auto;
    bottom: 0;
    right: auto;
    left: 50%;
    transform: translate(-50%, 50%);
    width: calc(100% - 50px);
    max-width: 400px;
  }

  .close {
    background: transparent;
    box-shadow: none;
    border: none;
    color: $white;
    font-size: 3rem;
    font-weight: 300 !important;
    line-height: 1;
    padding: 0;
    margin-left: auto;
    margin-right: -15px;
    display: block;
    cursor: pointer;

    @include breakpoint($tablet-break) {
      font-size: 1.5rem;
      margin-right: 0;
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
      transition: $transition;

      @include breakpoint($tablet-break) {
        height: 1.25rem;
        width: 1.25rem;
      }
    }

    &:hover {
      svg {
        transform: rotate(90deg);
      }
    }
  }

  h5 {
    font-weight: 700 !important;

    @include breakpoint($tablet-break) {
      font-size: 1.4rem !important
    }
  }

  ul.languages {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: wrap;
    margin: 0.5rem -0.5rem -.25rem;

    li {
      padding: .25rem .5rem;

      a {
        color: $white;

        &:hover {
          color: $color2;
        }
      }
    }
  }

  .btn {
    margin-top: 1rem;
    
    &::after {
      content: none;
    }

    &:hover {
      color: $color2 !important;
    }

    .plus {
      color: $color2;
      font-size: 1.5em;
      margin-left: .25em;
      position: relative;
      bottom: -.1em;
      font-weight: 600;
    }
  }
}

.row-hero {
  display: flex;
  position: relative;

  .social-media {
    width: 5.9375rem;
    position: relative;
    display: flex;
    align-items: center;

    @include breakpoint($laptop-break) {
      width: 80px;
    }

    @include breakpoint($tablet-break) {
      width: 50px;
    }

    @include breakpoint($mobile-break) {
      display: none;
    }

    &::before {
      content: "";
      width: 100%;
      height: 52%;
      background: $color5;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .social-media-inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      z-index: 2;
      background: $color5;
      padding-bottom: calc(50px - 1rem);
      transform: translateY(50%);

      @include breakpoint($laptop-break) {
        padding-bottom: calc(40px - 1rem);
      }

      @include breakpoint($tablet-break) {
        padding-bottom: calc(25px - 1rem);
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center; // margin-bottom: 1rem;
        margin-bottom: 35px;

        @include breakpoint($laptop-break) {
          margin-bottom: 30px;
        }

        @include breakpoint($tablet-break) {
          margin-bottom: 20px;
        }

        &:first-child {
          svg {
            width: 1.25rem;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          svg {
            path {
              fill: $color1;
            }
          }
        }
        svg {
          width: 1.5rem;
          height: 1.5rem;

          path {
            transition: $transition;
            fill: $color3;
          }
        }
      }
    }
  }
  .hero-area {
    width: calc(100% - 5.9375rem);
    min-height: calc(100vh - 100px - 30px - 3rem);
    height: calc(100vh - 100px - 30px - 3rem);
    display: flex;

    @include breakpoint($laptop-break-lrg) {
      min-height: calc(100vh - 100px - 30px - 6rem);
      height: calc(100vh - 100px - 30px - 6rem);
    }

    @include breakpoint($laptop-break) {
      width: calc(100% - 80px);
    }

    @include breakpoint($tablet-break) {
      width: calc(100% - 50px);
      min-height: calc(100vh - 80px - 185px - 30px - 3rem);
      height: calc(100vh - 80px - 185px - 30px - 3rem);
    }

    @include breakpoint($mobile-break) {
      width: 100%;
      min-height: calc(100vh - 80px - #{$col-vw * 4});
      height: calc(100vh - 80px - #{$col-vw * 4});
    }

    .hero-inner {
      width: 100%;
      height: 100%;
      @include bg-cc;
      padding: 60px;
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;

      @include breakpoint($laptop-break-lrg) {
        background-position: 0% 50% !important;
      }

      @include breakpoint($laptop-break) {
        padding: 30px;
      }

      @include breakpoint($tablet-break) {
        background-position: 23% 50% !important;
      }

      @include breakpoint($mobile-break) {
        padding: 30px 1.9375rem;
        background-position: center !important;
        background-size: cover !important;
        background-image: url("https://theveilremoved.com/wp-content/uploads/2019/12/Mobile-Hero-web-720-898.jpg") !important;
      }

      h1 {
        color: white;
        font-weight: 700 !important;
        @include breakpoint($laptop-break-lrg) {
          font-size: 35px !important;
        }
        @include font-size(52px, 35px, 30px, 30px);

        @include breakpoint($tablet-break) {
          font-weight: 400 !important;
        }
      }

      a {
        margin-top: 60px;
        display: flex;
        align-items: center;

        @include breakpoint($laptop-break-lrg) {
          margin-top: 40px;
        }

        @include breakpoint($mobile-break) {
          margin-top: 20px;
        }

        &:hover {
          svg {
            transform: scale(1.085);
          }
        }

        span {
          font-size: 1.5rem;
          color: $white;
          font-family: $sans-serif;
          margin-left: 20px;

          @include breakpoint($mobile-break) {
            margin-left: 10px;
          }
        }

        svg {
          width: 125px;
          height: 125px;
          transition: $transition;

          @include breakpoint($laptop-break-lrg) {
            width: 75px;
            height: 75px;
          }

          @include breakpoint($tablet-break) {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}

.tiles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 100px;
  flex-wrap: wrap;
  @include breakpoint($laptop-break) {
    margin-bottom: 70px;
  }
  @include breakpoint($tablet-break) {
    margin-bottom: 80px;
  }
  @include breakpoint($mobile-break) {
    margin-bottom: 60px;
    width: 100%;
    max-width: 100% !important;
    padding: 0;
  }
  &.small {
    margin-top: -209px;
    @include breakpoint($laptop-break) {
      margin-top: -154px;
    }
    @include breakpoint($tablet-break) {
      margin-top: -127px;
    }
    @include breakpoint($mobile-break) {
      margin-top: 0;
    }
  }
  &.largeRectangle {
    margin-top: -304px;
    @include breakpoint($laptop-break) {
      margin-top: -224px;
    }
    @include breakpoint($tablet-break) {
      margin-top: -185px;
    }
    @include breakpoint($mobile-break) {
      margin-top: 0;
    }
  }
  &.largeSquare {
    margin-top: -376px;
    @include breakpoint($laptop-break-lrg) {
      margin-top: -276px;
    }
    @include breakpoint($tablet-break) {
      margin-top: -228px;
    }
    @include breakpoint($mobile-break) {
      margin-top: -$col-vw * 2;
    }
  }
  .top-row {
    display: flex;
    align-items: flex-end;
    z-index: 1;
    @include breakpoint($mobile-break) {
      &.mobile-tile-shift {
        width: 100%;
        justify-content: flex-end;
        position: relative;
        .tile:first-child {
          position: absolute;
          left: 0;
          bottom: -$col-vw * 4;
        }
      }
    }
  }
  .bottom-row {
    display: flex;
    align-items: flex-start;
    @include breakpoint($mobile-break) {
      width: 100%;
      justify-content: flex-end;
      .tile {
        &:last-child {
          margin-right: 0 !important;
        }

        a {
          .image {
            svg {
              // height: 67px;
              height: auto;
              max-height: 100%;
            }
          }
        }
      }
    }
  }
  .tile {
    display: flex;
    a {
      width: 100%;
      height: 100%;
      background: $white;
      padding: 30px;
      padding-top: 40px;
      box-shadow: 0 3px 6px transparentize($color: $black, $amount: 0.84);
      transition: $transition;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      @include breakpoint($laptop-break) {
        padding: 20px;
        padding-top: 30px;
      }
      @include breakpoint($tablet-break) {
        // padding: 10px;
        padding: 12px;
        padding-top: 20px;
      }
      &:hover {
        background: $color5;
      }
      .title {
        order: 2;
        margin-top: 25px;
        color: $color3;
        font-weight: 700;
        @include font-size(20px, 17.5px, 15px, 15px);
        @include breakpoint($laptop-break) {
          margin-top: 20px;
        }
      }
      .image {
        order: 1;
        display: flex;
        justify-content: center;
        height: 100%;
        img {
          width: auto;
          height: 100%;
          display: block;
          display: none;
        }
        svg {
          width: auto;
          height: 100%;
          display: block;

          @include breakpoint($tablet-break) {
            width: 114px;
          }

          @include breakpoint($mobile-break) {
            width: 57px;
            max-height: 100%;
          }
        }
      }
    }
    &.small {
      width: 209px;
      height: 209px;
      .image {
        max-height: 66%;

        @include breakpoint($mobile-break) {
          height: calc(10vw + 20px);
          max-height: none;
        }

        @include breakpoint(380px) {
          height: calc(10vw + 10px);
        }
      }
      @include breakpoint($laptop-break) {
        width: 154px;
        height: 154px;
      }
      @include breakpoint($tablet-break) {
        width: 127px;
        height: 127px;
        max-height: none;
      }
      @include breakpoint($mobile-break) {
        width: $col-vw * 4;
        height: $col-vw * 4;
      }
    }
    &.largeRectangle,
    &.largeSquare {
      a {
        padding: 30px;
        padding-bottom: 70px;
        @include breakpoint($laptop-break) {
          padding: 20px;
          padding-bottom: 50px;
        }
        @include breakpoint($tablet-break) {
          padding: 10px;
          padding-bottom: 40px;
        }
        @include breakpoint($mobile-break) {
          padding-top: 20px !important;
        }
        .title {
          order: 1;
          margin-top: 0;
          margin-bottom: 30px;
        }
        .image {
          order: 2; // height: 100%;
          height: 175px;

          @include breakpoint($laptop-break-lrg) {
            height: 130px;
          }
          @include breakpoint($tablet-break) {
            height: 105px;
          }
          @include breakpoint($mobile-break) {
            height: 75px;
          }
        }
      }
    }
    &.largeRectangle {
      width: 587px;
      height: 304px;
      @include breakpoint($laptop-break) {
        width: 433px;
        height: 224px;
      }
      @include breakpoint($tablet-break) {
        width: 358px;
        height: 185px;
      }
      @include breakpoint($mobile-break) {
        width: $col-vw * 4;
        height: $col-vw * 4;
        a {
          padding: 12px;
          .image {
            order: 1;
          }
          .title {
            order: 2;
            margin-top: 20px;
            margin-bottom: 0;
          }
        }
      }
    }
    &.largeSquare {
      width: 418px;
      height: 376px;
      @include breakpoint($laptop-break-lrg) {
        width: 307px;
        height: 276px;
      }
      @include breakpoint($tablet-break) {
        width: 254px;
        height: 228px;
      }
      @include breakpoint($mobile-break) {
        width: $col-vw * 6;
        height: $col-vw * 6;
      }
    }
    &#resources {
      .image {
        align-items: center;
        img {
          height: 80%;
        }
      }
    }
  }
}

#section-28-12 {
  background: $color5;
  margin-top: 350px;

  @include breakpoint($laptop-break) {
    margin-top: 250px;
  }

  @include breakpoint($tablet-break) {
    margin-top: 175px;
  }

  @include breakpoint($mobile-break) {
    margin-top: 0;
    background: $white;
  }

  .ct-section-inner-wrap {
    position: relative;
    padding-bottom: 150px;

    @include breakpoint($laptop-break) {
      padding-bottom: 60px;
    }

    @include breakpoint($mobile-break) {
      padding-bottom: 0;
    }
  }

  .grid-container {
    position: relative;
    &::before {
      content: "";
      width: calc(#{$col * 10.85} + 5rem);
      height: 500px;
      position: absolute;
      top: -350px;
      right: -5rem;
      background-image: url("https://theveilremoved.com/wp-content/uploads/2019/11/whatistheveilremoved-yellow-fade.jpg");
      @include bg-cc;
      z-index: 2;

      @include breakpoint($laptop-break) {
        width: calc(#{$col * 11}+5rem);
        top: -250px;
        height: 330px;
      }

      @include breakpoint($tablet-break) {
        width: calc(#{$col * 12}+3rem);
        right: -3rem;
        top: -175px;
        height: 215px;
      }

      @include breakpoint($mobile-break) {
        display: none;
      }
    }

    > .oxy-rich-text {
      margin-top: -60px;
      margin-left: $col * 3;
      width: $col * 7;
      padding: $col/2 $col;
      background: $white;
      box-shadow: 0 3px 6px transparentize($color: #000000, $amount: 0.84);
      z-index: 4;

      @include breakpoint($laptop-break) {
        width: $col * 8;
        margin-left: $col * 2;
        margin-top: -40px;
      }

      @include breakpoint($tablet-break) {
        width: $col * 9;
        padding: $col;
      }

      @include breakpoint($mobile-break) {
        width: $col-vw * 12;
        left: -2rem;
        padding: 30px 1.9375rem;
        margin-top: initial;
        position: relative;
        margin: 0;
        margin-top: 175px;

        &::after {
          content: "";
          width: 100%;
          height: calc(100%);
          position: absolute;
          left: 0;
          top: 0;
          background: white;
          box-shadow: 0 3px 6px transparentize($color: #000000, $amount: 0.84);
          z-index: 0;
        }

        &::before {
          content: "";
          width: 100%;
          height: 175px;
          position: absolute;
          left: 0;
          top: -175px;
          background-image: url("https://theveilremoved.com/wp-content/uploads/2019/11/whatistheveilremoved-yellow-fade.jpg");
          @include bg-cc;
          background-position: 90% !important;
          z-index: -1;
        }

        * {
          position: relative;
          z-index: 5;
        }
      }

      h2 {
        @include margin-bottom-30;
        font-size: 40px !important;

        @include breakpoint($laptop-break-lrg) {
          font-size: 32px !important;
        }

        @include font-size(40px, 28px, 21px, 21px);
      }

      h3 {
        font-size: 32px !important;

        @include breakpoint($laptop-break-lrg) {
          font-size: 24px !important;
        }

        @include font-size(32px, 21px, 15px, 15px);
      }
    }

    .ct-new-columns {
      margin-top: 100px;

      @include breakpoint($laptop-break) {
        margin-top: 60px;
      }

      &:not(#dadsf) {
        > .ct-div-block {
          &:first-child {
            margin-left: $col;
            width: $col * 5;
            padding-right: $col/2;

            @include breakpoint($tablet-break) {
              width: 50% !important;
              margin-left: 0;
              padding-right: $col * 0.75;
            }

            @include breakpoint($mobile-break) {
              width: 100% !important;
              padding-right: 0;
              margin-bottom: 40px;
            }

            h2 {
              @include margin-bottom-30;
              font-size: 40px !important;
              @include font-size(40px, 28px, 21px, 21px);
            }

            h3 {
              font-size: 32px !important;

              @include breakpoint($laptop-break-lrg) {
                font-size: 24px !important;
              }

              @include font-size(32px, 21px, 15px, 15px);
            }
          }

          &:last-child {
            margin-left: $col;
            margin-right: $col;
            width: $col * 4;

            @include breakpoint($laptop-break) {
              margin-left: 0;
              margin-right: 0;
              width: $col * 6;
              padding-right: $col / 2;
            }

            @include breakpoint($tablet-break) {
              width: 50% !important;
              padding-right: 0;
            }

            @include breakpoint($mobile-break) {
              width: 100% !important;
            }

            .oxy-rich-text {
              margin-bottom: 20px;
              h2 {
                @include margin-bottom-30;
                @include font-size(40px, 28px, 21px, 21px);
              }

              p {
                font-family: $serif !important;
                @include font-size(20px, 17.5px, 15px, 15px);
              }
            }

            .point {
              padding-left: calc(15px + 20px);
              position: relative;
              margin-bottom: 30px;

              &:last-child {
                margin-bottom: 0;
              }

              &::before {
                content: "";
                width: 15px;
                height: 15px;
                background: $color1;
                position: absolute;
                left: 0;
                border-radius: 100%;
                top: calc(15px / 2);
              }

              .point-inner {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
              }

              .text {
                width: 100%;
                margin-bottom: 20px;
                p {
                  @include font-size(20px, 17.5px, 15px, 15px);
                  font-weight: 700 !important;
                }
              }
            }
          }
        }
      }
    }
  }

  #image-44-12 {
    position: absolute;
    top: 70px;
    left: -2.5rem;
    width: 255px;
    z-index: 4;
    pointer-events: none;

    @include breakpoint($laptop-break) {
      width: 170px;
      top: 50px;
    }

    @include breakpoint($tablet-break) {
      width: 124px;
      top: 25px;
      left: -2rem;
    }

    @include breakpoint($mobile-break) {
      position: initial;
      left: initial;
      top: initial;
      margin-top: -22px;
      align-self: flex-end;
    }
  }

  #image-43-12 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 370px;
    height: auto;
    z-index: 4;
    pointer-events: none;

    @include breakpoint($laptop-break) {
      width: 270px;
    }

    @include breakpoint($mobile-break) {
      display: none;
    }
  }
}

#section-16-12 {
  padding-top: 115px; // padding-bottom: 100px;
  padding-bottom: 180px;

  @include breakpoint($laptop-break) {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  @include breakpoint($tablet-break) {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  @include breakpoint($mobile-break) {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .ct-new-columns {
    align-items: center;
    @include breakpoint($mobile-break) {
      flex-wrap: wrap-reverse;
    }
    .ct-div-block {
      width: 50% !important;

      @include breakpoint($mobile-break) {
        width: 100% !important;
      }

      &:first-child {
        padding: 0 $col;

        @include breakpoint($tablet-break) {
          padding: 0;
          padding-right: $col/2;
          width: 50% !important;
        }

        @include breakpoint($mobile-break) {
          width: 100% !important;
          margin-top: 40px;
        }

        h2 {
          @include margin-bottom-30;
        }

        h3 {
          @include font-size(28px, 21px, 15px, 15px);
          color: $color1;
          @include margin-bottom-30;
        }
      }

      &:last-child {
        align-items: flex-end;
        position: relative;
        padding-right: $col/2;

        @include breakpoint($tablet-break) {
          padding-right: $col * 0.75;
          padding-left: $col/4;
          width: 50% !important;
        }

        @include breakpoint($mobile-break) {
          padding-left: 0;
          width: 100% !important;
        }

        #image-23-12 {
          box-shadow: -80px 80px 0 $color2;
          margin-bottom: 80px;
          width: calc(100% - 80px);
          position: relative;
          z-index: 6;

          @include breakpoint($laptop-break) {
            width: calc(100% - 50px);
            box-shadow: -50px 50px 0 $color2;
            margin-bottom: 50px;
          }

          @include breakpoint($tablet-break) {
            width: calc(100% - 20px);
            box-shadow: -20px 20px 0 $color2;
            margin-bottom: 20px;
          }

          @include breakpoint($mobile-break) {
            width: calc(100% - 18px);
            box-shadow: -18px 18px 0 $color2;
            margin-bottom: 18px;
          }
        }

        #image-38-12 {
          position: absolute;
          right: 0;
          top: -55px;
          width: 210px;
          height: auto;
          z-index: 3;
          right: -5rem;

          @include breakpoint($laptop-break) {
            right: -5.9375rem;
          }

          @include breakpoint($tablet-break) {
            width: 131px;
            top: -38px;
            right: 0;
          }
        }
      }
    }
  }
}

#section-2-12 {
  * {
    outline: none;
  }
  .ct-new-columns {
    @include breakpoint($mobile-break) {
      flex-wrap: wrap-reverse;
      justify-content: flex-start;
    }
    &:not(#esadf) {
      > .ct-div-block {
        position: relative;
        &:first-child {
          width: $col * 6;
          padding: 0 $col;
          padding-top: 90px;
          padding-bottom: 45px;
          background: $color5;
          position: relative;

          &::before {
            content: "";
            width: $col-vw * 4;
            height: 100%;
            background: $color5;
            position: absolute;
            left: calc(-0.9375rem - 5rem);
            top: 0;
            z-index: -1;
          }

          @include breakpoint($laptop-break) {
            padding-top: 50px;
            padding-bottom: 50px;
          }

          @include breakpoint($tablet-break) {
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 0;
            width: 50% !important;
          }

          @include breakpoint($mobile-break) {
            width: $col * 11.5 !important;
          }

          .ct-code-block {
            width: 100%;
            display: flex;
            height: 100%;
          }
        }
        &:last-child {
          width: $col * 6;
          padding: 0 $col;
          padding-bottom: 60px;

          @include breakpoint($tablet-break) {
            width: 50% !important;
            padding-right: 0;
          }

          @include breakpoint($mobile-break) {
            width: 100% !important;
            padding: 0;
          }

          h2 {
            margin-bottom: 100px;

            @include breakpoint($mobile-break) {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
  .what-people-are-saying-pics {
    width: 160px;
    height: 160px;
    position: absolute;
    right: $col;
    top: -80px;
    pointer-events: none;

    @include breakpoint($laptop-break) {
      width: 75px;
      height: 75px;
      top: -20px;
    }

    @include breakpoint($tablet-break) {
      width: 60px;
      height: 60px;
      top: 30px;
      right: $col * 1.5;
    }

    .person-pic {
      width: 160px;
      height: 160px;
      opacity: 0;
      transition: $transition;
      outline: none;

      @include breakpoint($laptop-break) {
        width: 75px;
        height: 75px;
      }

      @include breakpoint($tablet-break) {
        width: 60px;
        height: 60px;
      }

      &.slick-current {
        opacity: 1;
      }

      .person-pic-inner {
        width: 100%;
        position: relative;
        padding-bottom: 100%;

        .person-pic-bg {
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 100%;
          width: 100%;
          height: 100%;
          @include bg-cc;
        }
      }
    }
  }

  .what-people-are-saying-slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    .slick-dots {
      margin-top: 50px;
    }
    .testimony {
      outline: none;
      padding-right: $col-vw/2;
      opacity: 0;
      transition: $transition;

      @include breakpoint($tablet-break) {
        padding-right: 0;
      }

      &.slick-current {
        opacity: 1;
      }

      .title {
        margin-top: 10px;
        padding-left: 45px;
        @include font-size(26px, 21px, 18px, 18px);
        margin-bottom: 50px;
        position: relative;
        font-weight: 600 !important;

        @include breakpoint($laptop-break) {
          margin-bottom: 30px;
          padding-left: 20px;
        }
        @include breakpoint($tablet-break) {
          padding-right: $col * 2;
          margin-bottom: 20px;
        }

        @include breakpoint($mobile-break) {
          padding-right: calc(60px + 1rem);
        }

        &::before {
          content: "“";
          @include font-size(215px, 100px, 80px, 80px);
          font-family: $serif !important;
          color: $color1;
          line-height: 1;
          opacity: 0.09;
          position: absolute;
          left: -8px;
          top: -48px;

          @include breakpoint($laptop-break) {
            left: -5px;
            top: -16px;
          }

          @include breakpoint($tablet-break) {
            left: -3px;
            top: -11px;
          }
        }
      }

      .description {
        margin-bottom: 30px;

        @include breakpoint($tablet-break) {
          margin-bottom: 20px;
        }
      }

      .author {
        a {
          display: flex;
          align-items: center;
          color: $color3;
          @include font-size(20px, 14px, 12px, 12px);
          font-weight: 700 !important;
          margin-bottom: 5px;

          &:hover {
            img {
              transform: scale(1.1);
            }
          }

          img {
            margin-left: 15px;
            width: 40px;
            height: 40px;
            transition: $transition;

            @include breakpoint($tablet-break) {
              margin-left: 10px;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }

  .what-people-are-saying-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $col-vw/2;

    @include breakpoint($tablet-break) {
      padding-right: $col/2;
    }

    @include breakpoint($mobile-break) {
      display: none;
    }

    .person-pic {
      width: 125px;
      height: 125px;
      transition: 0.3s ease-out;
      transition: $transition;
      transform: perspective(300px) rotateX(0deg) rotateY(0deg) scale(0.8);
      opacity: 0.5;
      cursor: pointer;

      @include breakpoint($laptop-break) {
        width: 88px;
        height: 88px;
      }

      @include breakpoint($tablet-break) {
        width: 50px;
        height: 50px;
      }

      &:hover {
        opacity: 1;
        transform: scale(1);
      }

      &.active {
        opacity: 1;
        transform: scale(1.3);

        .person-pic-inner .person-pic-bg {
          transform: scale(1.2) !important;
        }

        .person-pic-inner .person-pic-bg::before {
          opacity: 0.5;
        }
      }

      .person-pic-inner {
        width: 100%;
        position: relative;
        padding-bottom: 100%;

        .person-pic-bg {
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 100%;
          width: 100%;
          height: 100%;
          @include bg-cc;

          overflow: hidden;
          transition: $transition;

          @keyframes person-1 {
            0% {
              transform: translate(0, 0);
            }

            20% {
              transform: translate(2px, 1px);
            }
            40% {
              transform: translate(4px, 2px);
            }
            60% {
              transform: translate(3px, 3px);
            }
            80% {
              transform: translate(2px, 1px);
            }
            100% {
              transform: translate(0px, 0px);
            }
          }

          @keyframes person-2 {
            0% {
              transform: translate(0, 0);
            }
            10% {
              transform: translate(-2px, -1px);
            }
            30% {
              transform: translate(0px, 2px);
            }
            50% {
              transform: translate(-3px, -2px);
            }
            70% {
              transform: translate(-2px, 2px);
            }
            90% {
              transform: translate(0px, 2px);
            }
            100% {
              transform: translate(0px, 0px);
            }
          }

          @keyframes person-4 {
            0% {
              transform: translate(0, 0);
            }
            10% {
              transform: translate(0px, -3px);
            }
            30% {
              transform: translate(2px, -1px);
            }
            50% {
              transform: translate(-1px, 2px);
            }
            70% {
              transform: translate(0px, 0px);
            }
            90% {
              transform: translate(2px, 2px);
            }
            100% {
              transform: translate(0px, 0px);
            }
          }

          @keyframes person-3 {
            0% {
              transform: translate(0, 0);
            }

            20% {
              transform: translate(2px, 1px);
            }
            40% {
              transform: translate(-1px, 3px);
            }
            60% {
              transform: translate(0px, 2px);
            }
            80% {
              transform: translate(-2px, 1px);
            }
            100% {
              transform: translate(0px, 0px);
            }
          }

          @keyframes person-5 {
            0% {
              transform: translate(0, 0);
            }
            10% {
              transform: translate(-1px, -1px);
            }
            30% {
              transform: translate(1px, 1px);
            }
            50% {
              transform: translate(2px, -2px);
            }
            70% {
              transform: translate(0px, 0px);
            }
            90% {
              transform: translate(-1px, 1px);
            }
            100% {
              transform: translate(0px, 0px);
            }
          }

          @keyframes person-6 {
            0% {
              transform: translate(0, 0);
            }

            20% {
              transform: translate(2px, 2px);
            }
            40% {
              transform: translate(3px, 3px);
            }
            60% {
              transform: translate(1px, 1px);
            }
            80% {
              transform: translate(-2px, 1px);
            }
            100% {
              transform: translate(0px, 0px);
            }
          }

          &.person-1 {
            transform: scale(0.75);
            animation: person-1 5s infinite ease-in-out;
          }
          &.person-2 {
            transform: scale(1);
            animation: person-2 5s infinite ease-in-out;
          }

          &.person-3 {
            transform: scale(0.85);
            animation: person-3 5s infinite ease-in-out;
          }
          &.person-4 {
            transform: scale(0.75);
            animation: person-4 5s infinite ease-in-out;
          }

          &.person-5 {
            transform: scale(0.9);
            animation: person-5 5s infinite ease-in-out;
          }
          &.person-6 {
            transform: scale(0.7);
            animation: person-6 5s infinite ease-in-out;
          }

          &::before {
            content: "";
            transition: $transition;
            width: 100%;
            height: 100%;
            background: $color2;
            opacity: 0.75;
            position: absolute;
            left: 0;
            background-color: $color2;
            top: 0;
            opacity: 0;
          }
        }
      }
    }
  }
}

.rediscover-the-mass {
  background: $color1;
  width: 100%;
  section {
    @include section-padding-top;
    @include section-padding-bottom;

    .ct-section-inner-wrap {
      padding: 0 $col;

      @include breakpoint($tablet-break) {
        padding: 0;
      }
    }

    h2 {
      color: $white;
    }
    p {
      color: $white;
      margin: 30px 0 50px;

      @include breakpoint($laptop-break) {
        margin: 20px 0;
      }

      @include breakpoint($tablet-break) {
        margin: 10px 0 20px;
      }
    }
    .cards-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include breakpoint($mobile-break) {
        flex-wrap: wrap;
      }
    }
    .card {
      @include row-item-grid(4, 60px);

      @include breakpoint($laptop-break) {
        @include row-item-grid(4, 20px);
      }
      @include breakpoint($tablet-break) {
        @include row-item-grid(4, 15px);
      }
      @include breakpoint($mobile-break) {
        @include row-item-grid(2, 15px);
      }
      .card-wrapper {
        position: relative;
        display: flex;
        width: 100%;
        padding-bottom: 100%;
      }
      .card-link {
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        background: $white;
        box-shadow: 0 3px 6px transparentize($color: #000, $amount: 0.84);
        width: 100%;
        height: 100%;

        &:hover {
          box-shadow: 0 6px 12px transparentize($color: #000, $amount: 0.5);
        }
      }

      span {
        @include font-size(20px, 17.5px, 15px, 15px);
        font-weight: 700;

        @include breakpoint($mobile-break-sml) {
          font-size: 13px !important;
        }
      }

      img {
        height: 120px;
        width: auto;
        margin-bottom: 20px;

        @include breakpoint($laptop-break) {
          margin-bottom: 10px;
          height: 78px;
        }

        @include breakpoint($tablet-break) {
          height: 54px;
        }
        @include breakpoint($mobile-break) {
          height: 60px;
        }
      }
    }
  }
}

#section-10-12 {
  @include section-padding-top;
  @include section-padding-bottom;

  .ct-section-inner-wrap {
    align-items: center;
  }

  .ct-new-columns {
    width: $col * 8;
    padding: $col / 2 $col;
    box-shadow: 0 3px 6px transparentize($color: #000000, $amount: 0.84);
    @include breakpoint($laptop-break-lrg) {
      width: $col * 10;
    }

    @include breakpoint($tablet-break) {
      width: 100%;
    }

    @include breakpoint($mobile-break) {
      padding: 0;
      box-shadow: none;
      flex-wrap: wrap;
    }
    .ct-div-block {
      width: 50% !important;

      @include breakpoint($mobile-break) {
        width: 100% !important;
      }

      &:first-child {
        width: $col * 5 !important;
        justify-content: center;
        align-items: flex-start;
        position: relative;

        @include breakpoint($mobile-break) {
          width: 100% !important;
          align-items: center;
          margin-bottom: 40px;
          padding: 0;
        }

        img {
          width: 270px;
          height: auto;

          @include breakpoint($laptop-break-lrg) {
            width: 215px;
          }

          @include breakpoint($laptop-break) {
            width: 190px;
          }

          @include breakpoint($tablet-break) {
            width: 160px;
          }
        }
      }

      &:last-child {
        width: $col * 7 !important;
        justify-content: center;
        align-items: flex-end;

        @include breakpoint($laptop-break) {
          align-items: flex-start;
        }

        @include breakpoint($tablet-break-sml) {
          align-items: center;
        }

        img {
          width: 200px;
          transition: $transition;

          &:hover {
            opacity: 0.75;
          }

          @include breakpoint($laptop-break) {
            width: 171px;
            height: 50px;
          }

          @include breakpoint($tablet-break) {
            width: 148px;
            height: 43px;
          }
        }

        @include breakpoint($mobile-break) {
          padding: 0;
          width: 100% !important;
        }

        h4 {
          color: $color1;
          font-family: $sans-serif !important;
          font-weight: 600 !important;
          @include font-size(24px, 21px, 15px, 15px);
          @include margin-bottom-30;
        }

        h2 {
          padding-right: $col * 1.75;
          @include margin-bottom-30;
        }
      }
    }
  }
}

.lb-popup {
  &.prayer-mary {
    @include breakpoint($tablet-break) {
      padding: $col-vw 3rem;
    }
    @include breakpoint($mobile-break) {
      padding: $col-vw 1rem;
    }
    .prayer-mary-inner {
      display: flex;
      flex-wrap: nowrap;

      @include breakpoint($tablet-break) {
        flex-wrap: wrap;
        max-height: calc(100vh - #{$col-vw * 3});
        overflow-y: auto;
        padding-right: 1rem;

        &::-webkit-scrollbar {
          width: 6px;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-track {
          border-radius: 5px;
          background: $gray;
          width: 6px;
        }

        &::-webkit-scrollbar-thumb {
          background: $color2;
          border-radius: 5px;
        }
      }

      @include breakpoint($mobile-break) {
        max-height: 76vh;
      }

      .img-col {
        width: $col * 4;
        @include breakpoint($tablet-break) {
          width: 100%;
          display: flex;
          align-items: flex-start;
        }

        .text {
          display: none;

          @include breakpoint($tablet-break) {
            display: block;
            width: $col * 8;
            padding-left: $col/2;
          }
          @include breakpoint($tablet-break-sml) {
            width: $col * 7;
          }
          @include breakpoint($mobile-break) {
            display: none;
          }
        }

        img {
          @include breakpoint($tablet-break) {
            width: $col * 4;
          }
          @include breakpoint($tablet-break-sml) {
            width: $col * 5;
            height: auto;
          }
          @include breakpoint($mobile-break) {
            width: $col * 5;
            margin-bottom: 10px;
          }
        }
      }

      h2 {
        margin-bottom: 30px;
        @include font-size(40px, 28px, 21px, 21px);

        @include breakpoint($tablet-break) {
          margin-bottom: 10px;
        }
      }

      h3 {
        margin-bottom: 20px;
        @include font-size(21px, 17.5px, 15px, 15px);

        @include breakpoint($tablet-break) {
          margin-bottom: 1em;
        }
      }

      p {
        margin-top: 40px;

        @include breakpoint($tablet-break) {
          margin-top: 20px;
        }
      }

      .info-col {
        width: $col * 8;
        padding-left: $col;

        @include breakpoint($tablet-break) {
          width: 100%;
          padding-left: 0;
          h2,
          h3 {
            display: none;
          }
        }

        @include breakpoint($mobile-break) {
          h2,
          h3 {
            display: block;
          }
        }
      }
    }
  }
  .didYouKnow-inner {
    p {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      strong {
        color: $color1;
        font-family: $serif !important;
        font-size: 1.25rem;
      }
    }
  }
}
