/******************************************************************

Stylesheet: News Page

Styles for News Page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.updates {
  // padding-top: 100px !important;
  // padding-bottom: 100px !important;
  // @include breakpoint($laptop-break) {
  //   padding-top: 80px !important;
  //   padding-bottom: 80px !important;
  // }
  // @include breakpoint($tablet-break) {
  //   padding-top: 50px !important;
  //   padding-bottom: 50px !important;
  // }
  // @include breakpoint($mobile-break) {
  //   padding-top: 40px !important;
  //   padding-bottom: 40px !important;
  // }
  h1 {
    margin-bottom: 40px;
    @include breakpoint($tablet-break) {
      margin-bottom: 35px;
    }
    @include breakpoint($mobile-break) {
      margin-bottom: 30px;
    }
  }
  .ct-section-inner-wrap {
    padding: 0 $col;
    @include breakpoint($laptop-break) {
      padding: 0;
    }

    > .ct-div-block {
      width: 100%;
      .ct-code-block {
        width: 100%;
      }
    }
  }
  .alm-reveal {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }

    &:first-child {
      > article {
        width: calc(100% / 3 * 2 + 13.33px);
        padding-right: 20px;

        @include breakpoint($tablet-break) {
          width: calc(100% / 3 * 2 + 10px);
          padding-right: 15px;
        }

        @include breakpoint($mobile-break) {
          width: 100%;
          padding-right: 0;
        }

        .info {
          .title {
            @include font-size(26px, 21px, 18px, 18px);
          }
        }
        .image {
          padding-left: 50px;
          padding-bottom: 50px;
          position: relative;
          z-index: 1;

          @include breakpoint($laptop-break) {
            padding-left: 35px;
            padding-bottom: 35px;
          }
          @include breakpoint($tablet-break) {
            padding-left: 30px;
            padding-bottom: 30px;
          }

          @include breakpoint($mobile-break) {
            padding-left: 20px;
            padding-bottom: 20px;
          }

          &::before {
            content: "";
            width: calc(100% - 40px - 50px);
            height: calc(100% - 20px - 50px);
            background: $color2;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;

            @include breakpoint($laptop-break) {
              width: calc(100% - 40px - 35px);
              height: calc(100% - 20px - 35px);
            }

            @include breakpoint($tablet-break) {
              width: calc(100% - 40px - 30px);
              height: calc(100% - 20px - 30px);
            }

            @include breakpoint($mobile-break) {
              width: calc(100% - 30px);
              height: calc(100% - 30px);
            }
          }
        }
      }

      .featured-side-flex {
        width: calc(100% / 3 - 15px);

        @include breakpoint($mobile-break) {
          width: 100%;
          margin-top: 20px;
        }

        .featured-side-wrapper {
          width: 100%;
          @include breakpoint($mobile-break) {
            width: calc(100% + 1.9375rem);
            overflow: auto;
          }

          .featured-side-slider {
            display: flex;
            flex-direction: column;

            @include breakpoint($mobile-break) {
              width: calc(#{$col-vw * 8 * 2} + 15px);
              flex-direction: row;
            }
          }

          article {
            margin-bottom: 20px;
            width: 100%;

            @include breakpoint($mobile-break) {
              width: $col-vw * 8;
              padding-right: 15px;
              margin-bottom: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    &:not(:first-child) {
      article {
        @include row-item-grid(3, 20px, 30px);

        @include breakpoint($tablet-break) {
          @include row-item-grid(3, 15px, 30px);
        }
        @include breakpoint($mobile-break) {
          @include row-item-grid(1, 30px);

          .image {
            display: none;
          }
        }
      }
    }
  }
  article {
    .info {
      .extras {
        .seperator {
          color: $color2;
        }
      }
    }
  }
}

.press {
  background-color: $color5;
  display: flex;
  justify-content: center;
  padding-top: 60px !important;
  padding-bottom: 60px !important;

  @include breakpoint($tablet-break) {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  h1 {
    margin-bottom: 40px;
    @include breakpoint($tablet-break) {
      magrin-bottom: 35px;
    }
    @include breakpoint($mobile-break) {
      margin-bottom: 30px;
    }
  }

  .ct-section-inner-wrap {
    max-width: calc(100vw - 10rem);
    padding: 0 $col;

    @include breakpoint($laptop-break) {
      padding: 0;
    }

    @include breakpoint($tablet-break) {
      max-width: calc(100vw - 6rem);
    }

    @include breakpoint($mobile-break) {
      max-width: calc(100vw - 2rem);
    }

    > .ct-div-block {
      width: 100%;
      .ct-code-block {
        width: 100%;
      }
    }
  }

  .alm-reveal {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }
  article {
    @include row-item-grid(4, $col, 30px);

    @include breakpoint($mobile-break) {
      @include row-item-grid(1, 30px);
    }
    .image {
      display: none;
    }
    .info {
      .extras {
        display: flex;
        align-items: center;

        &::after {
          content: "";
          display: block;
          margin-left: 1rem;
          width: 1rem;
          height: 1rem;
          background-image: url("https://theveilremoved.com/wp-content/uploads/2020/02/outbound-link.svg");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
        .seperator,
        .read-time {
          display: none;
        }
      }
    }
  }
}

article {
  a {
    &:hover {
      .info {
        .title {
          color: $color1 !important;
        }
      }
    }
  }
  .image {
    margin-bottom: 10px;
    .image-inner {
      position: relative;
      display: flex;
      width: 100%;
      padding-bottom: 56.625%;
      overflow: hidden;

      .image-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: $transition;
        @include bg-cc;
      }
    }
  }
  .info {
    .title {
      @include font-size(16px, 14px, 12px, 12px);
      font-family: $sans-serif !important;
      color: $color3 !important;
      font-weight: 700 !important;
      margin-bottom: 5px;
      transition: $transition;
    }

    .extras {
      @include font-size(12px, 11px, 9px, 9px);
      font-family: $sans-serif;
      color: $color3;

      .seperator {
        font-family: $sans-serif;
        color: $color1;
        font-weight: 900;
        margin: 0 0.15rem;
      }
    }
  }
}
