/******************************************************************

Stylesheet: Article/Post template

Styles for post templates ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

#section-3-132 {
  @include rule-and-params(margin-top, 100px, 80px, 80px, 80px);

  padding-left: $col * 2.25 !important;
  padding-right: $col * 2.25 !important;

  @include breakpoint($laptop-break) {
    padding-left: $col * 1.5 !important;
    padding-right: $col * 1.5 !important;
  }

  @include breakpoint($tablet-break) {
    padding-left: 0.9375rem !important;
    padding-right: 0.9375rem !important;
  }

  #div_block-10-132 {
    @include breakpoint($tablet-break) {
      display: none;
    }
  }

  #div_block-5-132 {
    &:not(#yes) {
      width: 100% !important;

      .article-header {
        .article-header-inner {
          margin-bottom: 10px;

          @include breakpoint($tablet-break) {
            margin-bottom: 5px;
          }

          .article-title {
            text-transform: none;
            color: $color1;
            letter-spacing: initial !important;
            line-height: 1.15 !important;
          }
        }

        .category {
          width: ($col-vw * 4) !important;
          padding-right: $col-vw / 4;

          @include breakpoint($laptop-break) {
            width: ($col-vw * 6) !important;
          }

          @include breakpoint($tablet-break) {
            width: 100% !important;
            order: 1;
          }

          .cat {
            &::after {
              content: "\02022";
              margin: 0 0.25rem 0 0.5rem;
            }

            &:last-child {
              &::after {
                display: none;
              }
            }

            a {
              color: $color-p;
              font: $h6;
              font-family: $primary !important;
              text-transform: uppercase;

              &:hover {
                color: $color2;
              }
            }
          }
        }

        .extras {
          width: ($col-vw * 4.7) !important;
          padding-right: $col-vw / 4;
          color: $color3;
          font-size: 1rem !important;
          font-family: $primary !important;

          @include breakpoint($laptop-break) {
            width: ($col-vw * 6) !important;
          }

          @include breakpoint($tablet-break) {
            width: 100% !important;
            order: 1;
            padding-right: 0;
          }

          @include breakpoint($mobile-break) {
            flex-direction: column;
            align-items: flex-start;
          }

          .author {
            font-weight: 700;
          }

          .read-time {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .article-shares {
    margin-top: 1rem;

    .article-share-inner {
      display: flex;

      > a {
        margin-right: 1.25rem;
        color: $color3;

        &:last-child {
          margin-right: 0;
        }

        > svg {
          width: 1.25rem;
          height: 1.25rem;

          path {
            fill: currentColor !important;
          }
        }

        &:hover {
          color: $color1;
        }
      }
    }
  }

  .ct-new-columns {
    &:not(#ye) {
      &:first-child {
        padding-bottom: 1.5rem !important;
      }

      > .ct-div-block {
        &:first-child {
          width: ($col-vw * 4.7) !important;
          padding-right: $col-vw / 4;

          @include breakpoint($laptop-break) {
            width: ($col-vw * 6) !important;
          }
          @include breakpoint($tablet-break) {
            width: ($col-vw * 6.5) !important;
          }

          @include breakpoint($mobile-break) {
            width: 100% !important;
            order: 1;
            padding-right: 0;
          }

          .ct-code-block {
            width: 100%;

            .main-article {
              .youtube-embed-wrapper {
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 25px;
                height: 0;
                margin-bottom: 2rem;

                .youtube-embed {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  border: 0;
                }
              }

              .featured-image-yt {
                height: auto;
                position: relative;
                // margin-bottom: 2rem;
                transition: $transition;

                &:hover {
                  .yt-play-button {
                    transform: scale(1.03);
                  }
                }
              }

              .yt-play-button {
                width: 8vw;
                height: 6vw;
                position: absolute;
                top: calc(50% - 3vw);
                left: calc(50% - 4vw);
                transition: $transition;

                @include breakpoint($mobile-break) {
                  width: 12vw;
                  height: 10vw;
                  top: calc(50% - 6vw);
                  left: calc(50% - 5vw);
                }
              }

              .featured-image {
                margin: 0;
                margin-bottom: 2rem;

                img {
                  width: 100%;
                  height: auto;
                }

                figcaption {
                  // font: $h6;
                  font-family: $primary, $sans-serif !important;
                  margin-top: 0.2rem;
                  font-size: 0.75rem !important;
                }
              }

              blockquote {
                margin: 2rem 0;

                p {
                  position: relative;
                  padding-top: 0.625rem;
                  padding-left: 3.125rem;
                  color: $color1;
                  font: $h2;

                  &::before {
                    content: "";
                    width: 5rem;
                    height: 5rem;
                    background: transparentize($color2, 0.85);
                    position: absolute;
                    top: 0;
                    left: 0;
                  }
                }
              }

              .post-content {
                &::after {
                  content: "";
                  display: block;
                  clear: both;
                }

                .read-more-container {
                  @include breakpoint($mobile-break) {
                    align-items: center;
                  }
                }

                > p {
                  font-size: calc(1rem + 1px) !important;

                  @include breakpoint($mobile-break) {
                    font-size: 1.1rem !important;
                  }
                }

                figure {
                  margin: 2rem 0;

                  img {
                    width: 100%;
                    height: auto;
                  }

                  figcaption {
                    font: $h6;
                    font-family: $primary, $sans-serif !important;

                    p {
                      font: $h6;
                      font-family: $primary, $sans-serif !important;
                    }
                  }
                }

                img {
                  width: auto;
                  height: auto;
                }

                .wp-caption,
                .aligncenter,
                .alignleft,
                .alignright,
                figure,
                figcaption {
                  max-width: 100%;
                }

                .wp-caption {
                  margin-top: 2rem;
                  margin-bottom: 2rem;
                  padding: 0;

                  &.aligncenter {
                    margin-left: auto;
                    margin-right: auto;
                  }

                  &.alignleft {
                    margin-right: 2rem;
                  }

                  &.alignright {
                    margin-left: 2rem;
                  }

                  &.aligncenter {
                    margin-left: auto;
                    margin-right: auto;
                  }

                  .wp-caption-text {
                    font: $h6;
                    margin-top: 0.25em;
                    font-family: $primary, $sans-serif !important;
                  }
                }
              }
            }
          }
        }

        &:nth-child(2) {
          width: calc(100% - #{$col-vw * 4.7}) !important;

          @include breakpoint($laptop-break) {
            width: calc(100% - #{$col-vw * 6}) !important;
          }
          @include breakpoint($tablet-break) {
            width: calc(100% - #{$col-vw * 6.5}) !important;
            padding-left: $col-vw/2;
          }

          @include breakpoint($mobile-break) {
            width: 100% !important;
            order: 3;
            padding-left: 0;
            @include margin-top($col-vw / 2);
          }

          .ct-code-block {
            width: 100%;
            margin-bottom: 3rem;

            @include breakpoint($tablet-break) {
              margin-bottom: 2rem;
            }

            .view-more-wrapper {
              display: flex;
              justify-content: flex-end;
            }

            aside {
              h3 {
                color: $color1;
                font-weight: 600 !important;
                font-family: $sans-serif !important;
                font-size: 1rem !important;
                margin-bottom: 20px;

                @include breakpoint($tablet-break) {
                  margin-bottom: 10px;
                }
              }

              .articles-wrapper {
                @include breakpoint($mobile-break) {
                  width: calc(100% + 1.9375rem);
                  overflow: auto;
                }

                .articles-wrapper-inner {
                  @include breakpoint($mobile-break) {
                    display: flex;
                    width: $col-vw * 7 * 3;
                  }

                  .article {
                    margin-bottom: 2rem;
                    white-space: normal;

                    @include breakpoint($mobile-break) {
                      width: $col-vw * 7.5;
                      padding-right: $col-vw;
                      margin-bottom: 0;
                    }

                    &:last-child {
                      margin-bottom: 0;
                    }

                    .article-inner {
                      .image {
                        a {
                          &:hover {
                            // .image-bg {
                            //   transform: scale(1.035);
                            // }

                            .title {
                              color: $color1;
                            }
                          }

                          .img-bg-inner {
                            position: relative;
                            display: flex;
                            width: 100%;
                            padding-bottom: 56.625%;
                            overflow: hidden;

                            .image-bg {
                              position: absolute;
                              width: 100%;
                              height: 100%;
                              left: 0;
                              top: 0;
                              transition: $transition;
                              @include bg-cc;
                            }
                          }

                          .title {
                            margin-bottom: 0.25rem;
                            margin-top: 0.5rem;
                            color: $color3;
                            font-family: $sans-serif !important;
                            font-size: 1rem !important;
                            transition: $transition;
                            font-weight: 700 !important;
                            line-height: 1.25em !important;
                          }
                        }
                      }

                      .info {
                        .extra {
                          color: $color-p;
                          font-size: 0.75rem !important;
                          font-family: $sans-serif !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#section-14-132 {
  padding-left: $col * 2.25 !important;
  padding-right: $col * 2.25 !important;

  @include breakpoint($laptop-break) {
    padding-left: $col * 1.5 !important;
    padding-right: $col * 1.5 !important;
  }

  @include breakpoint($tablet-break) {
    padding-left: 0.9375rem !important;
    padding-right: 0.9375rem !important;
  }

  .ct-code-block {
    width: 100%;

    .crp_related {
      h3 {
        color: $color1;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        font-family: $sans-serif !important;
        font-size: 1rem !important;
        font-weight: 700 !important;
      }

      ul {
        display: flex;
        padding: 0;
        margin: 0;
        border-top: 1px solid transparentize($color3, 0.5);

        @include breakpoint($mobile-break) {
          flex-wrap: wrap;
        }

        li {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          width: calc(100% / 3);
          padding-top: 1rem !important;
          // margin-top: 1rem !important;

          @include breakpoint($mobile-break) {
            width: 100% !important;
            padding: 0 !important;
            padding-top: 1rem !important;
            margin-bottom: 0.5rem;

            &:last-child {
              margin-bottom: 0;
            }
          }

          &:nth-child(1) {
            padding-right: $col-vw / 8;
          }

          &:nth-child(2) {
            padding-right: $col-vw / 16;
            padding-left: $col-vw / 16;
          }

          &:nth-child(3) {
            padding-left: $col-vw / 8;
          }

          a {
            width: 100%;
            color: $color3;
            margin-bottom: 0.5rem;

            &:hover {
              color: $color1;
            }

            .crp_title {
              font: $h5;
              font-size: 1rem !important;
              font-family: $sans-serif !important;
              font-weight: 700 !important;
            }
          }

          .crp_author {
            font: $h6;
            font-size: 0.75rem !important;
            font-family: $primary !important;
            font-weight: 700 !important;
            width: auto;
            color: $white;
            margin-left: -15px;

            @include breakpoint($mobile-break) {
              margin-left: -11px;
            }

            a {
              cursor: text;
              color: $black;
              pointer-events: none;
            }
          }

          .crp_date {
            font: $h6;
            color: $black;
            font-size: 0.75rem !important;
            font-family: $primary !important;
            font-weight: 700 !important;
            width: auto;

            &::before {
              content: "\02022";
              margin: 0 0.25rem;
            }
          }
        }
      }
    }
  }
}

// /the-veil-removed-moves-with-new-translations/ post
.special-announcement {
  display: flex;
  align-items: center;
  color: $black;
  font-weight: 600;

  svg {
    height: 2em;
    width: 2em;
    margin-right: .75em;
  }

  &:hover,
  &:focus {
    color: $color1;
  }
}

.languages-video {
  list-style: none;
  padding-left: 0;

  a {
    color: $black;
    font-weight: 600;

    &:hover,
    &:focus {
      color: $color1;
    }
  }
}