/******************************************************************

Stylesheet: Privacy + Cookie Policy

Only put styles in here that will be used across the entire site.
For styles only applying to one particular page, use the appropriate
page SCSS file.

******************************************************************/

.ct-inner-content {
	// margin-top: $col-vw * 1.5;
	max-width: calc(100vw - 10rem);
    margin-left: auto;
    margin-right: auto;
	margin-bottom: $col-vw;
	@include section-padding-top-half;
	width: 100%;
	padding-right: $col;
	padding-left: $col;
	overflow: hidden;

	@include breakpoint($tablet-break) {
		max-width: calc(100vw - 6rem);
		padding-right: 0.9375rem;
		padding-left: 0.9375rem;
	}

    @include breakpoint($mobile-break) {
        max-width: calc(100vw - 2rem);
    }
}

.table {
	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 4px;
	}

	&::-webkit-scrollbar-track {
		background: rgba($color2, 0.25);
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color2; // outline: 1px solid slategrey;
	}

	@include breakpoint($mobile-break) {
		max-width: 83.3333333333vw;
		overflow-x: scroll;
	}

	table {
		@include breakpoint($mobile-break) {
			width: 75rem;
		}

		tbody {
			tr {
				&:nth-child(odd) {
					background-color: rgba($color1, 0.15);
				}

				&:first-child {
					td {
						// border-top: 1px solid #000;
					}
				}

				td {
					// border-bottom: 1px solid #000;
					// border-right: 1px solid #000;
					padding: 10px;

					&:first-child {
						// border-left: 1px solid #000;
					}
				}
			}
		}
	}
}
