@charset "utf-8";
/******************************************************************

Stylesheet: Resources

Styles for Resources page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
// videos
#section-2-34 {
  @include section-padding-top-half;
  width: 100%;
  padding-right: $col;
  padding-left: $col;
  overflow: hidden;

  @include breakpoint($tablet-break) {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .ct-div-block {
    width: 100%;
  }

  h1 {
    @include section-padding-bottom-half;
    @include breakpoint($mobile-break) {
      padding-bottom: 30px !important;
    }
  }

  h2 {
    @include font-size(28px, 21px, 18px, 18px);
    @include margin-bottom-30;

    @include breakpoint($mobile-break) {
      margin-bottom: 30px !important;
    }
  }

  .ct-code-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($mobile-break) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      overflow: auto;
      white-space: nowrap;
    }

    .slick-dots {
      margin: 30px auto 20px;
    }
  }

  .video {
    @include row-item-grid(4, $col-vw/4);
    @include breakpoint($laptop-break) {
      @include row-item-grid(3, $col-vw/4);
    }
    @include breakpoint($tablet-break) {
      @include row-item-grid(3, 30px);
    }
    @include breakpoint($mobile-break) {
      &.slick-slide {
        width: $col-vw * 8;
        display: inline-block;
        margin-right: 0 !important;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    a {
      color: $color3;
      transition: $transition;

      &:hover {
        color: $color1;
      }
    }
    .video-title {
      @include font-size(20px, 18px, 15px, 15px);
      font-weight: 700 !important;
      margin-top: 10px;
      font-family: $sans-serif !important;
    }
    .video-holder {
      width: 100%;
      padding-bottom: 56.625%;
      position: relative;
      background: $color4;
      display: block;

      .video-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 1;
        transition: $transition;
        z-index: 2;
        display: block;

        .image-bg {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          @include bg-cc;
        }
      }
      .play-info {
        background: $white;
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        z-index: 10;
        padding: 0.5rem;
        padding-right: 1rem;

        @include breakpoint($tablet-break) {
          padding: 5px;
        }

        img {
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;

          @include breakpoint($tablet-break) {
            width: 8px;
            height: auto;
          }
        }

        span {
          @include font-size(12px, 12px, 12px, 10px);
        }
      }
    }
  }
}

// publications
#section-9-34 {
  @include section-padding-top;
  width: 100%;
  padding-right: $col;
  padding-left: $col;

  @include breakpoint($tablet-break) {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .ct-code-block,
  .ct-div-block {
    width: 100%;
  }

  h2 {
    @include font-size(28px, 21px, 18px, 18px);
    @include margin-bottom-30;

    @include breakpoint($mobile-break) {
      margin-bottom: 30px !important;
    }
  }

  .tab-nav {
    margin-bottom: 40px;

    @include breakpoint($tablet-break) {
      margin-bottom: 30px;
    }
  }

  .tab-body-inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .article {
    @include row-item-grid(4, $col-vw/2);
    @include breakpoint($tablet-break) {
      @include row-item-grid(2, $col-vw/2);
    }
    @include breakpoint($mobile-break) {
      @include row-item-grid(1, $col-vw/2);
    }
    a {
      color: $color3;
      transition: $transition;

      &:hover {
        color: $color1;
      }
    }
    .title {
      @include font-size(20px, 18px, 15px, 15px);
      font-family: $sans-serif !important;
      font-weight: 700 !important;
    }

    .extras {
      position: relative;
      margin-top: 5px;
      display: inline-block;
      max-width: calc(100% - 10px - 1rem);

      &::after {
        content: "";
        width: 1rem;
        height: 1rem;
        background-image: url("https://theveilremoved.com/wp-content/uploads/2019/11/external-link-icon.svg");
        @include bg-cc;
        // position: relative;
        position: absolute;
        display: inline-block;
        // top: 2px;
        bottom: 4px;
        margin-left: 10px;
      }
    }
  }

  .book {
    @include row-item-grid-top(6, $col-vw/4);
    @include breakpoint($laptop-break) {
      @include row-item-grid-top(5, $col-vw/8, $col-vw/4);
    }
    @include breakpoint($tablet-break) {
      @include row-item-grid-top(4, $col-vw/4);
    }
    @include breakpoint($mobile-break) {
      @include row-item-grid-top(2, $col-vw/4);
      padding-right: $col-vw / 2;
      padding-bottom: $col-vw / 2;
    }
    a {
      color: $color3;
      transition: $transition;

      &:hover {
        color: $color1;
      }
    }
    .photo {
      width: 100%;
      .photo-inner {
        width: 100%;
        position: relative;
        padding-bottom: 117%;
        .photo-bg {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          @include bg-cc;
        }
      }
    }

    .info {
      margin-top: 10px;
      .title {
        @include font-size(20px, 18px, 15px, 15px);
        font-family: $sans-serif !important;
        font-weight: 700 !important;
      }

      p {
        position: relative;
        margin-top: 5px;
        display: inline-block;
        
        max-width: calc(100% - 10px - 1rem);

        &::after {
          content: "";
          width: 1rem;
          height: 1rem;
          background-image: url("https://theveilremoved.com/wp-content/uploads/2019/11/external-link-icon.svg");
          @include bg-cc;
          // position: relative;
          position: absolute;
          display: inline-block;
          // top: 2px;
          bottom: 4px;
          margin-left: 10px;
        }
      }
    }
  }
}

#section-3-34 {
  @include breakpoint($mobile-break) {
    padding-bottom: 0 !important;
  }
  h2 {
    padding: 0 $col;

    @include breakpoint(1800px) {
      padding: 0;
      margin-bottom: 80px;
    }
    @include breakpoint($laptop-break) {
      margin-bottom: -40px;
    }

    @include breakpoint($laptop-break-sml) {
      margin-bottom: 30px;
    }

    @include breakpoint($tablet-break) {
      margin-bottom: 15px;
    }

    @include breakpoint($mobile-break) {
      margin-bottom: 30px;
    }
  }
  .ct-code-block {
    width: 100%;
    display: flex;
    align-items: flex-end;

    @include breakpoint($mobile-break) {
      flex-wrap: wrap;
    }

    .slider-text-container {
      background: $color5;
      width: $col * 7;
      padding: $col / 2;
      padding-top: 120px;
      padding-bottom: 120px;
      padding-left: $col * 2;
      position: relative;

      @include breakpoint($laptop-break) {
        padding: $col * 0.75;
        padding-left: $col / 2;
        padding-top: 120px;
        padding-bottom: 120px;
      }

      @include breakpoint($tablet-break) {
        padding: $col;
        padding-left: 0;
      }

      @include breakpoint($mobile-break) {
        width: 100%;
        padding: $col * 3 calc(#{$col * 1.5} + 15px) $col * 2 $col * 1.5;
        order: 2;
        margin-top: -$col;
      }

      &::after {
        content: "“";
        @include font-size(215px, 175px, 175px, 150px);
        font-family: $serif;
        position: absolute;
        left: calc(#{$col * 2} + 3.5rem);
        top: 3rem;
        line-height: 1;
        z-index: 2;
        color: $color1;
        opacity: 0.101;

        @include breakpoint($laptop-break) {
          left: calc(#{$col / 2} - 0.1em);
          top: 0.1em;
        }

        @include breakpoint($tablet-break) {
          left: -0.215em;
          top: 0;
        }

        @include breakpoint($mobile-break) {
          left: calc(#{$col * 1.5} - 0.175em);
          top: 0.25em;
        }
      }

      &::before {
        content: "";
        width: $col * 3;
        height: 100%;
        position: absolute;
        left: -$col * 1.5;
        top: 0;
        background: $color5;
        z-index: -1;

        @include breakpoint($mobile-break) {
          left: -2rem;
          width: $col-vw * 12;
        }
      }

      .quote {
        position: relative;
        @include font-size(28px, 21px, 18px, 18px);
      }

      .author {
        margin-top: 10px;
        @include font-size(16px, 16px, 14px, 14px);
        font-family: $sans-serif !important;
        font-weight: 700 !important;
      }

      .slider-text {
        outline: none;
        cursor: grab;
        opacity: 0;
        transition: $transition;

        &.slick-current {
          opacity: 1;
        }

        @include breakpoint($mobile-break) {
          padding-left: $col-vw/2;
        }
      }
    }

    .slider-image-container {
      width: $col * 5;
      padding: 0 $col;
      @include breakpoint($laptop-break) {
        padding: 0;
        padding-left: $col-vw;
      }

      @include breakpoint($tablet-break) {
        width: calc(#{$col * 5} + 3rem + 0.9375rem);
      }

      @include breakpoint($mobile-break) {
        width: 100%;
        padding-left: $col * 1.5;
        padding-right: $col * 1.5;
        margin-top: 0;
      }
      .slider-image {
        width: 100%;
        outline: none;
        cursor: grab;
        opacity: 0;
        transition: $transition;

        &.slick-current {
          opacity: 1;
        }

        .slider-image-inner {
          width: 100%;
          position: relative;
          padding-bottom: 125%;
          .slider-image-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            @include bg-cc;
          }
        }
      }
    }
  }
}
