/******************************************************************

Stylesheet: Single Product

Styles for Single Product page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
#menu-item-515,
.menu-item-515 {
  a {
    &:before {
      transform: scaleX(1);
    }
  }
}
#section-2-30 {
  .ct-section-inner-wrap {
    align-items: center;
  }
  .ct-new-columns {
    width: calc(100% - #{$col * 4});
    padding-bottom: 100px;
    border-bottom: 2px solid $color1;

    @include breakpoint($laptop-break) {
      width: calc(100% - #{$col * 2});
      padding-bottom: 80px;
    }
    @include breakpoint($tablet-break) {
      width: 100%;
      padding-bottom: 60px;
    }

    > .ct-div-block {
      .cat {
        font-family: $sans-serif !important;
        @include font-size(16px, 16px, 14px, 12px);
        color: $color3 !important;
        font-weight: 600;
      }

      .subtitle {
        margin-bottom: 20px;
        @include font-size(20px, 17.5px, 15px, 15px);

        @include breakpoint($mobile-break) {
          margin-bottom: 10px;
        }
      }

      .product_title {
        @include font-size(40px, 28px, 21px, 21px);
        margin-bottom: 10px;

        @include breakpoint($mobile-break) {
          margin-bottom: 5px;
        }
      }

      .star-rating {
        color: #fbe000;
      }

      .woocommerce-review-link {
        display: none;
      }

      .oxy-product-cart-button {
        max-width: 100%;
      }

      .price {
        margin-bottom: 20px;
        @include breakpoint($mobile-break) {
          margin-bottom: 0;
        }
        span {
          font: $h4;
          @include font-size(28px, 23px, 15px, 15px);
          color: $color3;
        }

        del {
          text-decoration: none !important;
        }

        .cart_price > ins {
          display: none !important;
        }
      }

      &:first-child {
        width: $col * 4 !important;

        @include breakpoint($tablet-break) {
          width: $col * 5 !important;
        }

        @include breakpoint($mobile-break) {
          width: 100% !important;
        }

        .cat,
        .subtitle,
        .product_title,
        .star-rating,
        .price {
          display: none;

          @include breakpoint($mobile-break) {
            display: block;
          }
        }

        .onsale {
          display: none;
        }

        .woocommerce-product-gallery {
          position: relative;

          @include breakpoint($mobile-break) {
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }

        .woocommerce-product-gallery__trigger {
          padding: 10px;
          background: white;
          color: white;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 10;
          cursor: pointer;

          @include breakpoint($mobile-break) {
            padding: 7px 10px;
            padding-left: 0;
            font-size: 9px !important;
          }
        }

        .woocommerce-product-gallery__image {
          > img {
            display: none !important;
          }
        }

        .flex-control-nav {
          display: flex;
          flex-wrap: wrap;
          padding: 0;
          margin: 0;
          margin-top: 20px;

          li {
            cursor: pointer;
            list-style: none;
            position: relative;
            @include row-item-grid(4, 15px);
            height: 100%;

            &::before {
              content: "";
              width: 100%;
              height: 100%;
              background: transparentize($color: $color2, $amount: 0.15);
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0;
              transition: $transition;
              pointer-events: none;

              @include breakpoint($tablet-break) {
                display: none;
              }
            }
            &.active {
              &::before {
                opacity: 1;
              }
            }
          }
        }
      }

      &:last-child {
        width: $col * 8 !important;
        padding-left: $col;

        @include breakpoint($tablet-break) {
          width: $col * 7 !important;
        }
        @include breakpoint($mobile-break) {
          width: 100% !important;
          padding-left: 0;
        }

        .cat,
        .subtitle,
        .product_title,
        .star-rating,
        .price {
          @include breakpoint($mobile-break) {
            display: none;
          }
        }

        .oxy-product-description {
          p {
            color: $color3;
          }

          ul {
            padding: 0;
            li {
              list-style: none;
              position: relative;
              padding-left: 1.5rem;

              &::before {
                content: "-";
                font-weight: 700;
                color: $color3;
                position: absolute;
                left: 0;
              }
            }
          }
        }
        .cart {
          margin-top: 40px;
          justify-content: space-between;
        }

        .quantity {
          flex: 0 0 auto;
          &::before {
            content: "Quantity: ";
            margin-right: 0.75rem;
          }

          input {
            &:focus {
              border: 1px solid transparentize($color: $color1, $amount: 0.5);
              box-shadow: 0 0 5px transparentize($color: $color1, $amount: 0.5);
            }
          }
        }

        .single_add_to_cart_button {
          flex: 0 0 auto;
        }
      }
    }
  }
}
// tabs and extra info
#section-16-30 {
  display: flex;
  justify-content: center;

  .ct-section-inner-wrap {
    width: calc(100% - #{$col * 4});

    @include breakpoint($laptop-break) {
      width: calc(100% - #{$col * 2});
    }
    @include breakpoint($tablet-break) {
      width: 100%;
    }
  }
  .wc-tabs-wrapper {
    display: flex;
    @include breakpoint($mobile-break) {
      flex-wrap: wrap;
      position: relative;
    }
    @include breakpoint($mobile-break-sml) {
      &::before {
        content: "";
        width: 2rem;
        height: 2rem;
        background: linear-gradient(
          to right,
          transparentize($white, 1) 0%,
          $white 100%
        );
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
      }
    }
    .wc-tabs {
      width: $col * 4;
      padding: 0;
      margin: 0;

      @include breakpoint($tablet-break) {
        width: $col * 5;
      }

      @include breakpoint($mobile-break) {
        width: 100% !important;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      @include breakpoint($mobile-break-sml) {
        white-space: nowrap;
        overflow: auto;
      }
      li {
        list-style: none;
        margin-bottom: 20px;

        @include breakpoint($mobile-break-sml) {
          margin-bottom: 0;
          margin-right: 20px;

          &:last-child {
            padding-right: 2rem;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        &.active {
          a {
            &::after {
              transform: scaleX(1);
            }
            &:hover {
              &::after {
                transform: scaleX(1);
              }
            }
          }
        }
        a {
          @include btn;
          @include font-size(12px, 11px, 9px, 9px);
          &::after {
            transform: scaleX(0);
          }

          &:hover {
            &::after {
              transform: scaleX(0.5);
            }
          }
        }
      }
    }

    .wc-tab {
      width: $col * 8;
      padding-left: $col;

      @include breakpoint($tablet-break) {
        width: $col * 7;
      }

      @include breakpoint($mobile-break) {
        width: 100% !important;
        padding-left: 0;
      }

      &.active {
        display: block;
        animation: lb-fade-in 0.5s;
        animation-fill-mode: forwards;
      }

      h2 {
        display: none;
      }

      p {
        color: $color3;
        &:nth-child(2) {
          margin-top: 0;
        }

        a {
          color: $color3;
          text-decoration: underline;

          &:hover {
            color: $color1;
          }
        }
      }
    }
  }

  .commentlist {
    padding: 0;
    margin-bottom: 20px;
    li {
      margin-bottom: 30px;

      .comment_container {
        img {
          width: 62px !important;
          border: 0 !important;
          padding: 0 !important;

          @include breakpoint($laptop-break) {
            width: 50px !important;
          }

          @include breakpoint($mobile-break) {
            width: 40px !important;
          }
        }
      }
      .comment-text {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
        padding-left: 82px !important;
        border: 0 !important;
        margin: 0 !important;

        @include breakpoint($laptop-break) {
          padding-left: 70px !important;
        }
        @include breakpoint($mobile-break) {
          padding-left: 60px !important;
        }
        .star-rating {
          order: 2;
          margin-top: 10px;

          &::before {
            color: transparentize($color: $color3, $amount: 0.5);
          }
          span {
            color: $color3;
          }
        }
        .meta {
          order: 1;
          display: flex;
          margin: 0 !important;
          flex-direction: column;
          .woocommerce-review__dash {
            display: none;
          }

          .woocommerce-review__published-date {
            font-size: 0.75rem;
            line-height: 1;
            color: $color3 !important;
            font-style: initial;
            margin-top: 10px;
          }
        }

        .description {
          margin-top: 10px;
          order: 3;

          p {
            font: $body-font;
            color: $color3 !important;
          }
        }
      }
    }
  }

  .woocommerce-noreviews {
    margin-bottom: 20px;
  }

  #review_form_wrapper {
    #respond {
      background: #f3f3f5;
      border: 0;
      padding: 40px;
      @include breakpoint($tablet-break) {
        padding: 30px;
      }
      @include breakpoint($mobile-break) {
        padding: 20px;
      }
      .comment-reply-title {
        margin-bottom: 20px;
        font-weight: 400;
        display: block;
      }
      #commentform {
        display: flex;
        flex-wrap: wrap;
        .comment-form-comment {
          margin: 0;
        }
        label {
          margin: 0;
          display: block;
          margin-bottom: 10px;
          color: $color3;
          font-size: 0.75rem !important;
        }

        textarea,
        input {
          background: $white;
          border: 0;
          border-radius: 0;
        }

        .form-submit {
          text-align: right;
        }

        #submit {
          @include btn;
          background-image: linear-gradient(
            90deg,
            $color1 100%,
            rgba(255, 255, 255, 0) 100%
          ) !important;
          background-size: 50% 2px !important;
          background-position: left bottom !important;
          background-repeat: no-repeat !important;
          transition: $transition;
          margin-top: 20px !important;

          &:hover {
            background-size: 100% 2px !important;
          }
        }
      }

      .comment-form-comment,
      .comment-form-rating,
      .comment-form-cookies-consent,
      .form-submit {
        width: 100%;
      }

      .comment-form-author,
      .comment-form-email {
        width: 50%;
        input {
          width: 100%;
        }
      }

      .comment-form-author {
        padding-right: 0.5rem;
      }

      .comment-form-email {
        padding-left: 0.5rem;
      }

      .comment-form-cookies-consent {
        input {
          display: none;

          &:checked {
            + label {
              &::after {
                opacity: 1;
              }
            }
          }
        }

        label {
          display: block;
          position: relative;
          padding-left: 2rem;
          margin-right: 0;
          font: $body-font;
          font-weight: 400 !important;
          color: $color3;
          max-width: initial;
          width: 100%;

          a {
            font-weight: 700 !important;
            color: $color3;

            &:hover {
              color: $color2;
            }
          }

          $size: 20px;

          &::before {
            width: $size;
            height: $size;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: $white;
            border: 2px solid $color3;
          }

          &::after {
            $size-reduction: 10px;
            width: calc(#{$size} - #{$size-reduction});
            height: calc(#{$size} - #{$size-reduction});
            content: "";
            position: absolute;
            background: $color2;
            background-size: cover !important;
            background-position: center !important;
            top: $size-reduction/2;
            left: $size-reduction/2;
            opacity: 0;
            transition: $transition;
          }
        }
      }

      .stars {
        a {
          color: $color3;
        }
      }
    }
  }
}
// related products
#section-13-30 {
  display: flex;
  justify-content: center;

  .ct-section-inner-wrap {
    width: calc(100% - #{$col * 4});

    @include breakpoint($laptop-break) {
      width: calc(100% - #{$col * 2});
    }

    @include breakpoint($tablet-break) {
      width: 100%;
    }

    .oxy-related-products {
      width: 100%;
    }

    .related {
      > h2 {
        margin-bottom: 20px !important;
        @include font-size(32px, 21px, 18px, 18px);
      }

      .products {
        margin: 0;
        .product {
          padding: 0;
          @include row-item-grid(4, 20px);

          @include breakpoint($tablet-break) {
            @include row-item-grid(3, 20px);
          }

          @include breakpoint($mobile-break) {
            @include row-item-grid(2, 20px);
          }
        }
      }
    }
  }
}

// image gallery popup
.pswp__bg {
  background: transparentize($color: $color3, $amount: 0.16);
}

// Hide quantity field when disabled

.quantity.hidden {
  visibility: hidden;
}