/******************************************************************

Stylesheet: Single Event

Styles for Single Event page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

section.grid-container.top.bottom {
  .ct-code-block {
    width: 100%;
    padding: 0 $col * 2;

    @include breakpoint($laptop-break) {
      padding: 0 $col 1;
    }

    @include breakpoint($mobile-break) {
      padding: 0;
    }

    #tribe-events-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .tribe-events-cal-links {
    a {
      color: $color1;

      &:hover {
        color: $color3;
      }
    }
  }
  #tribe-events-footer {
    ul {
      li {
        a {
          color: $color1;
          background: none;

          &:hover {
            color: $color3;
          }
        }
      }
    }
  }
}
