/******************************************************************

Stylesheet: Watch

Styles for Watch page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
#section-2-16 {
  @include breakpoint($mobile-break) {
    padding-top: 30px !important;
  }
}

.ct-inner-content {
  @include breakpoint($laptop-break) {
    min-height: calc(100vh - 80px - 200px);
  }
  .grid-container {
    .ct-section-inner-wrap {
      padding: 0 $col;

      @include breakpoint($tablet-break) {
        padding: 0;
      }

      h1 {
        @include margin-bottom-30;
      }

      .tab-nav {
        @include margin-bottom-30;
      }

      .endorsments-wrapper {
        display: flex;

        @include breakpoint($tablet-break) {
          flex-wrap: wrap;
        }

        .endorsments-featured {
          width: $col * 7.5;

          @include breakpoint($tablet-break) {
            width: 100%;
            padding: 0 $col;
            margin-bottom: 20px;
          }

          @include breakpoint($mobile-break) {
            padding: 0;
          }
        }

        .endorsments-sidebar {
          width: $col * 4.5;
          padding-left: $col/2;

          @include breakpoint($tablet-break) {
            width: 100%;
            padding-left: 0;
          }

          h6 {
            @include margin-bottom-30;
          }

          .videos-wrapper {
            width: 100%;
            padding-bottom: 100.725%;
            position: relative;

            @include breakpoint($laptop-break) {
              padding-bottom: 90.725%;
            }

            @include breakpoint($tablet-break) {
              padding-bottom: 0;
            }

            .videos {
              position: absolute;
              width: 100%;
              height: 100%;
              overflow: auto;

              &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
                border-radius: 5px;

                @include breakpoint($tablet-break) {
                  display: none;
                }
              }

              &::-webkit-scrollbar-track {
                border-radius: 5px;
                background: $gray;
                width: 6px;
              }

              &::-webkit-scrollbar-thumb {
                background: $color2;
                border-radius: 5px;
              }

              @include breakpoint($tablet-break) {
                position: initial;
                white-space: nowrap;
                display: flex;
                width: calc(100% + 3.9375rem);
              }

              @include breakpoint($mobile-break) {
                width: calc(100% + 1.9375rem);
              }
            }
          }

          .video {
            display: flex;
            margin-bottom: 20px;

            @include breakpoint($tablet-break) {
              margin-bottom: 0;
              margin-right: 15px;
            }

            &:last-child {
              margin-bottom: 0;
              margin-right: 0;
            }

            a {
              display: flex;
              width: 100%;

              @include breakpoint($tablet-break) {
                flex-direction: column;
              }

              &:hover,
              &.active {
                .video-info {
                  .video-title,
                  .video-name {
                    color: $color1;
                  }
                }
              }
            }

            .video-img {
              width: $col-vw;

              @include breakpoint($tablet-break) {
                width: $col-vw * 3.25;
                margin-bottom: 10px;
              }

              @include breakpoint($mobile-break) {
                width: $col-vw * 7;
              }

              .video-overlay {
                width: 100%;
                position: relative;
                padding-bottom: 56.625%;

                .image-bg {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  @include bg-cc;
                }
              }
            }

            .video-info {
              width: calc(100% - #{$col-vw});
              padding-left: 1rem;
              white-space: normal;

              @include breakpoint($tablet-break) {
                width: 100%;
                padding-left: 0;
              }
              .video-title {
                font-size: 1rem !important;
                font-family: $sans-serif !important;
                font-weight: 700 !important;
              }
              .video-name {
                font-size: 0.75em;
                font-family: $sans-serif !important;
              }
              .video-title,
              .video-name {
                color: $color3;
                line-height: 1.5em !important;
                transition: $transition;
              }
            }
          }
        }
      }
    }
  }
  .video-wrapper {
    // display: flex;
    // flex-direction: column-reverse;

    .video-info {
      background: $color3;
      padding: 5px 10px;
      p {
        color: $white;
        @include font-size(16px, 10px, 10px, 10px);
      }
    }
  }
  .full-video {
    display: flex;
    // justify-content: center;

    // .full-video-wrapper {
    //   width: $col * 7.5;

    //   @include breakpoint($tablet-break) {
    //     width: 100%;
    //     padding: 0 $col;
    //   }

    //   @include breakpoint($mobile-break) {
    //     padding: 0;
    //   }
    // }
  }

  // .tabs--secondary .tab-nav,
  .full-video-wrapper {
    width: $col * 7.5;

    @include breakpoint($tablet-break) {
      width: $col * 10;
    }

    @include breakpoint($mobile-break) {
      width: 100%;
    }
  }

  .tabs--secondary {
    .tab-nav {
      margin-bottom: 1.5rem;
      display: block;
    }
  }

  .yt-video-wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 56.625%;

    &.playing {
      .overlay {
        opacity: 0;
        pointer-events: none;
      }
    }

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include bg-cc;
      z-index: 4;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: $transition-slow;

      &:hover {
        svg {
          transform: scale(1.085);
        }
      }
      svg {
        width: 100px;
        height: 100px;
        transition: $transition;

        @include breakpoint($laptop-break) {
          width: 75px;
          height: 75px;
        }

        @include breakpoint($tablet-break) {
          width: 60px;
          height: 60px;
        }
      }
    }

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
}
