/******************************************************************

Stylesheet: Witnesses

Styles for Witnesses page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.ct-inner-content {
  .oxy-rich-text {
    @include breakpoint($tablet-break) {
      padding-left: $col;
    }

    @include breakpoint($mobile-break) {
      padding-left: 0;
    }

    h1 {
      @include margin-bottom-20;
    }

    h4 {
      @include margin-bottom-30;
      @include font-size(24.5px, 21px, 18px, 18px);
      max-width: $col * 8;

      @include breakpoint($laptop-break) {
        max-width: $col * 8.25;
      }

      @include breakpoint($tablet-break) {
        max-width: $col * 9;
      }
      @include breakpoint($mobile-break) {
        max-width: 100%;
      }
    }

    p {
      max-width: $col * 6;

      @include breakpoint($laptop-break) {
        max-width: $col * 6.25;
      }

      @include breakpoint($tablet-break) {
        max-width: $col * 7;
      }
      @include breakpoint($mobile-break) {
        max-width: 100%;
      }
    }
  }
  .large-10.grid-x {
    @include section-padding-top;
  }
  .ct-code-block {
    display: flex !important;
    flex-wrap: wrap;
  }

  .saint {
    position: relative;
    @include row-item-grid(2, 23%, 120px);
    margin-bottom: 100px;

    @include breakpoint($laptop-break) {
      @include row-item-grid(2, 23%, 80px);
    }
    @include breakpoint($tablet-break) {
      @include row-item-grid(1, 60px);

      &:nth-last-child(2) {
        margin-bottom: 60px !important;
      }
    }

    @include breakpoint($mobile-break) {
      margin-top: 1rem;
    }

    &.st-gregory {
      margin-top: -30px;

      @include breakpoint($tablet-break) {
        margin-top: 0;
      }
    }

    &:nth-child(even) {
      margin-top: 100px;
      margin-bottom: 0 !important;

      &:nth-child(2) {
        margin-top: 140px;
      }

      &:nth-child(4) {
        margin-top: 80px;
      }

      &:last-child {
        margin-top: 120px;

        @include breakpoint($laptop-break) {
          margin-top: 80px;
        }
      }

      @include breakpoint($laptop-break) {
        margin-top: 80px;
      }

      @include breakpoint($tablet-break) {
        margin-top: 0 !important;
        margin-bottom: 80px !important;

        &:last-child {
          margin-bottom: 0 !important;
        }

        .large-letter {
          left: $col * 6;
        }

        .saint-inner {
          flex-direction: row-reverse;

          .info {
            padding-left: $col * 2;
            padding-right: 0;
          }
        }
      }

      @include breakpoint($mobile-break) {
        margin-bottom: 60px !important;

        &:last-child {
          margin-bottom: 0 !important;
        }

        .large-letter {
          left: calc(1.9375rem / -1.25);
        }
        .saint-inner {
          flex-direction: row;

          .info {
            padding: 0;
            padding-bottom: 20px;
          }
        }
      }
    }

    &.st-john-chrysostom {
      @include breakpoint($tablet-break) {
        .large-letter span:first-child {
          display: none;
        }
      }
    }

    .large-letter {
      font-family: $serif;
      font-weight: 700;
      @include font-size(400px, 350px, 300px, 250px);
      line-height: 1;
      opacity: 0.1;
      color: $color1;
      pointer-events: none;
      position: absolute;
      top: -0.225em;
      left: -25%;
      z-index: 9;

      @include breakpoint($tablet-break) {
        top: 50%;
        left: 0;
        transform: translateY(calc(-50% - 0.05em));
      }

      @include breakpoint($mobile-break) {
        top: -4.25rem;
        left: calc(1.9375rem / -1.25);
        transform: none;
      }
    }

    .saint-inner {
      z-index: 11;
      position: relative;

      @include breakpoint($tablet-break) {
        display: flex;
      }

      @include breakpoint($mobile-break) {
        flex-wrap: wrap;
      }
    }

    .info {
      @include pad-bottom-30;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include breakpoint($tablet-break) {
        width: $col * 7;
        padding-bottom: 0;
        padding-right: $col;
        padding-left: $col;
        justify-content: center;
      }

      @include breakpoint($mobile-break) {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
      }
    }
    .title {
      @include pad-bottom-20;
      @include font-size(40px, 28px, 21px, 21px);
    }

    .excerpt {
      @include font-size(28px, 21px, 15px, 15px);
    }

    .button {
      align-self: flex-end;
    }

    .image {
      @include breakpoint($tablet-break) {
        width: $col * 5;
      }
      @include breakpoint($mobile-break) {
        width: 100%;
      }
    }

    .image-inner {
      width: 100%;
      padding-bottom: 100%;
      position: relative;

      .image-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        @include bg-cc;
      }
    }
  }
}
