/******************************************************************

Stylesheet: Mixins Stylesheet

******************************************************************/
/*************************
MEDIA QUERY (MQ)
*************************/
@import "breakpoint";

/**************************
RESPONSIVE RATIO
**************************/
@mixin ratio($x, $y, $pseudo: false) {
  $padding: unquote($y / $x * 100 + "%");

  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);

      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}

@mixin rule-and-params(
  $property,
  $desktop-rule,
  $laptop-rule: null,
  $tablet-rule: null,
  $mobile-rule: null
) {
  #{$property}: $desktop-rule;

  @include breakpoint($laptop-break) {
    #{$property}: $laptop-rule;
  }
  @include breakpoint($tablet-break) {
    #{$property}: $tablet-rule;
  }
  @include breakpoint($mobile-break) {
    #{$property}: $mobile-rule;
  }
}

@function row-item-width($columns, $gutter) {
  @return calc(#{100% / $columns} - #{($gutter * ($columns - 1)) / $columns});
}

@mixin row-item-grid($columns, $gutter-col, $gutter-row: null) {
  width: row-item-width($columns, $gutter-col);
  margin-right: 0 !important;

  // add a right margin to create the gutter
  @for $i from 1 through $columns - 1 {
    &:nth-child(#{$columns}n + #{$i}) {
      margin-right: $gutter-col !important;
    }
  }

  // Check if the gutter row gap arguement has been passed
  @if ($gutter-row) {
    &:nth-child(n) {
      margin-bottom: $gutter-row !important;
    }
  } @else {
    // if not then jusdt default to the gutter column gap
    $gutter-row: $gutter-col;
    &:nth-child(n) {
      margin-bottom: $gutter-row !important;
    }
  }

  // remove the bottom margin from the bottom row
  @for $j from 1 through $columns {
    &:nth-last-child(#{$j}) {
      margin-bottom: 0 !important;
    }
  }

  // remove right margin from elements that don't need it
  &:nth-child(#{$columns}n + #{$columns}) {
    margin-right: 0 !important;
  }
}

@mixin row-item-grid-top($columns, $gutter-col, $gutter-row: null) {
  width: row-item-width($columns, $gutter-col);
  margin-right: 0 !important;

  // add a right margin to create the gutter
  @for $i from 1 through $columns - 1 {
    &:nth-child(#{$columns}n + #{$i}) {
      margin-right: $gutter-col !important;
    }
  }

  // Check if the gutter row gap arguement has been passed
  @if ($gutter-row) {
    &:nth-child(n) {
      margin-top: $gutter-row !important;
    }
  } @else {
    // if not then jusdt default to the gutter column gap
    $gutter-row: $gutter-col;
    &:nth-child(n) {
      margin-top: $gutter-row !important;
    }
  }

  // remove the bottom margin from the bottom row
  @for $j from 1 through $columns {
    &:nth-child(#{$j}) {
      margin-top: 0 !important;
    }
  }

  // remove right margin from elements that don't need it
  &:nth-child(#{$columns}n + #{$columns}) {
    margin-right: 0 !important;
  }
}
/*************************
PADDINGS
*************************/
@mixin pad-top-30 {
  padding-top: 30px;

  @include breakpoint($laptop-break) {
    padding-top: 20px;
  }

  @include breakpoint($tablet-break) {
    padding-top: 15px;
  }
}

@mixin pad-bottom-30 {
  padding-bottom: 30px;

  @include breakpoint($laptop-break) {
    padding-bottom: 20px;
  }

  @include breakpoint($tablet-break) {
    padding-bottom: 15px;
  }
}

@mixin pad-top-20 {
  padding-top: 20px;

  @include breakpoint($tablet-break) {
    padding-top: 15px;
  }
}

@mixin pad-bottom-20 {
  padding-bottom: 20px;

  @include breakpoint($tablet-break) {
    padding-bottom: 15px;
  }
}

@mixin pad-top-20-sml {
  padding-top: 20px;

  @include breakpoint($laptop-break) {
    padding-top: 10px;
  }
}

@mixin pad-bottom-20-sml {
  padding-bottom: 20px;

  @include breakpoint($laptop-break) {
    padding-bottom: 10px;
  }
}

@mixin margin-top-30 {
  margin-top: 30px;

  @include breakpoint($laptop-break) {
    margin-top: 20px;
  }

  @include breakpoint($tablet-break) {
    margin-top: 15px;
  }
}

@mixin margin-bottom-30 {
  margin-bottom: 30px;

  @include breakpoint($laptop-break) {
    margin-bottom: 20px;
  }

  @include breakpoint($tablet-break) {
    margin-bottom: 15px;
  }
}

@mixin margin-top-20 {
  margin-top: 20px;

  @include breakpoint($tablet-break) {
    margin-top: 15px;
  }
}

@mixin margin-bottom-20 {
  margin-bottom: 20px;

  @include breakpoint($tablet-break) {
    margin-bottom: 15px;
  }
}

@mixin margin-top-20-sml {
  margin-top: 20px;

  @include breakpoint($laptop-break) {
    margin-top: 10px;
  }
}

@mixin margin-bottom-20-sml {
  margin-bottom: 20px;

  @include breakpoint($laptop-break) {
    margin-bottom: 10px;
  }
}
// gutter padding
@mixin side-gutters {
  padding-left: $col-vw !important;
  padding-right: $col-vw !important;

  @include breakpoint($tablet-break) {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;
  }

  @include breakpoint($mobile-break) {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;
  }
}

@mixin lrg-side-gutters {
  padding-left: ($col-vw * 2) !important;
  padding-right: ($col-vw * 2) !important;

  @include breakpoint($laptop-break) {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;
  }

  @include breakpoint($mobile-break) {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;
  }
}

@mixin x-lrg-side-gutters {
  padding-left: ($col-vw * 3) !important;
  padding-right: ($col-vw * 3) !important;

  @include breakpoint($tablet-break) {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;
  }

  @include breakpoint($mobile-break) {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;
  }
}

@mixin xx-lrg-side-gutters {
  padding-left: ($col-vw * 4) !important;
  padding-right: ($col-vw * 4) !important;

  @include breakpoint($tablet-break) {
    padding-left: ($col-vw * 2) !important;
    padding-right: ($col-vw * 2) !important;
  }

  @include breakpoint($mobile-break) {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;
  }
}

// padding top
@mixin padding-top($pad) {
  padding-top: $pad !important;

  @include breakpoint($tablet-break) {
    padding-top: ($pad * 1.5) !important;
  }

  @include breakpoint($mobile-break) {
    padding-top: ($pad * 2) !important;
  }
}

// padding bottom
@mixin padding-bottom($pad) {
  padding-bottom: $pad !important;

  @include breakpoint($tablet-break) {
    padding-bottom: ($pad * 1.5) !important;
  }

  @include breakpoint($mobile-break) {
    padding-bottom: ($pad * 2) !important;
  }
}

// margin top
@mixin margin-top($margin) {
  margin-top: $margin !important;

  @include breakpoint($tablet-break) {
    margin-top: ($margin * 1.5) !important;
  }

  @include breakpoint($mobile-break) {
    margin-top: ($margin * 2) !important;
  }
}

// margin bottom
@mixin margin-bottom($margin) {
  margin-bottom: $margin !important;

  @include breakpoint($tablet-break) {
    margin-bottom: ($margin * 1.5) !important;
  }

  @include breakpoint($mobile-break) {
    margin-bottom: ($margin * 2) !important;
  }
}

/*************************
COLORS
*************************/
@mixin colors {
  &.color1 {
    color: $color1 !important;
  }

  &.color2 {
    color: $color2 !important;
  }

  &.color3 {
    color: $color3 !important;
  }

  &.dark-grey {
    color: $color4 !important;
  }

  &.color5 {
    color: $color5 !important;
  }

  &.color6 {
    color: $color6 !important;
  }

  &.white {
    color: $white !important;
  }
}

@mixin background-colors {
  &.bg-color1 {
    background-color: $color1 !important;
  }

  &.bg-color2 {
    background-color: $color2 !important;
  }

  &.bg-color3 {
    background-color: $color3 !important;
  }

  &.bg-color4 {
    background-color: $color4 !important;
  }

  &.bg-color5 {
    background-color: $color5 !important;
  }

  &.bg-color6 {
    background-color: $color6 !important;
  }

  &.bg-color6 {
    background-color: $color6 !important;
  }

  &.bg-white {
    background-color: $white !important;
  }
}

@mixin section-padding-top {
  padding-top: $section-desktop;

  @include breakpoint($laptop-break) {
    padding-top: $section-laptop;
  }

  @include breakpoint($tablet-break) {
    padding-top: $section-tablet;
  }

  @include breakpoint($mobile-break) {
    padding-top: $section-mobile;
  }
}

@mixin section-padding-bottom {
  padding-bottom: $section-desktop;

  @include breakpoint($laptop-break) {
    padding-bottom: $section-laptop;
  }

  @include breakpoint($tablet-break) {
    padding-bottom: $section-tablet;
  }

  @include breakpoint($mobile-break) {
    padding-bottom: $section-mobile;
  }
}

@mixin section-padding-bottom-half {
  padding-bottom: $section-desktop/2;

  @include breakpoint($laptop-break) {
    padding-bottom: $section-laptop/2;
  }

  @include breakpoint($tablet-break) {
    padding-bottom: $section-tablet/2;
  }

  @include breakpoint($mobile-break) {
    padding-bottom: $section-mobile/2;
  }
}

@mixin section-padding-top-half {
  padding-top: $section-desktop/2;

  @include breakpoint($laptop-break) {
    padding-top: $section-laptop/2;
  }

  @include breakpoint($tablet-break) {
    padding-top: $section-tablet/2;
  }

  @include breakpoint($mobile-break) {
    padding-top: $section-mobile/2;
  }
}

@mixin section-padding-top-third {
  padding-top: $section-desktop/3;

  @include breakpoint($laptop-break) {
    padding-top: $section-laptop/3;
  }

  @include breakpoint($tablet-break) {
    padding-top: $section-tablet/3;
  }

  @include breakpoint($mobile-break) {
    padding-top: $section-mobile/3;
  }
}

@mixin section-padding-bottom-third {
  padding-bottom: $section-desktop/3;

  @include breakpoint($laptop-break) {
    padding-bottom: $section-laptop/3;
  }

  @include breakpoint($tablet-break) {
    padding-bottom: $section-tablet/3;
  }

  @include breakpoint($mobile-break) {
    padding-bottom: $section-mobile/3;
  }
}
@mixin paddings {
  &.top {
    @include section-padding-top;
  }

  &.bottom {
    @include section-padding-bottom;
  }

  &.top-half {
    @include section-padding-top-half;
  }

  &.bottom-half {
    @include section-padding-bottom-half;
  }

  &.top-third {
    @include section-padding-top-third;
  }

  &.bottom-third {
    @include section-padding-bottom-third;
  }
}

@mixin gutters {
  &.gutters {
    @include side-gutters;
  }

  &.lrg-gutters {
    @include lrg-side-gutters;
  }

  &.x-lrg-gutters {
    @include x-lrg-side-gutters;
  }

  &.xx-lrg-gutters {
    @include xx-lrg-side-gutters;
  }
}

@mixin h-lrg-padding {
  &.top {
    padding-top: 3rem;

    @include breakpoint($laptop-break) {
      padding-top: 2.5rem;
    }

    @include breakpoint($tablet-break) {
      padding-top: 2.167rem;
    }
  }

  &.bottom {
    padding-bottom: 4rem;

    @include breakpoint($laptop-break) {
      padding-bottom: 3.643rem;
    }

    @include breakpoint($tablet-break) {
      padding-bottom: 3.167rem;
    }
  }
}

@mixin h-med-padding {
  &.bottom {
    padding-bottom: 2.125rem;

    @include breakpoint($laptop-break) {
      padding-bottom: 1.857rem;
    }

    @include breakpoint($tablet-break) {
      padding-bottom: 1.5rem;
    }

    @include breakpoint($mobile-break) {
      padding-bottom: 1.083rem;
    }
  }

  &.top {
    padding-top: 2.125rem;

    @include breakpoint($laptop-break) {
      padding-top: 1.857rem;
    }

    @include breakpoint($tablet-break) {
      padding-top: 1.5rem;
    }

    @include breakpoint($mobile-break) {
      padding-top: 1.083rem;
    }
  }
}

@mixin button-margin {
  &.bottom {
    margin-bottom: 2.75rem;

    @include breakpoint($laptop-break) {
      margin-bottom: 2.571rem;
    }

    @include breakpoint($tablet-break) {
      margin-bottom: 2.333rem;
    }

    @include breakpoint($mobile-break) {
      margin-bottom: 1.5rem;
    }
  }

  &.top {
    margin-top: 2.75rem;

    @include breakpoint($laptop-break) {
      margin-top: 2.571rem;
    }

    @include breakpoint($tablet-break) {
      margin-top: 2.333rem;
    }

    @include breakpoint($mobile-break) {
      margin-top: 1.5rem;
    }
  }
}

/*********************************
Typography
*********************************/
@mixin font-size($desk, $lap, $tab, $mob) {
  font-size: $desk !important;

  // @include breakpoint($laptop-break) {
  //   font-size: $lap !important;
  // }
  
  @include breakpoint($laptop-break-lrg) {
    font-size: $lap !important;
  }

  @include breakpoint($tablet-break) {
    font-size: $tab !important;
  }

  @include breakpoint($mobile-break) {
    font-size: $mob !important;
  }
}

@mixin line-height($desk, $lap, $tab, $mob) {
  line-height: $desk !important;

  @include breakpoint($laptop-break) {
    line-height: $lap !important;
  }

  @include breakpoint($tablet-break) {
    line-height: $tab !important;
  }

  @include breakpoint($mobile-break) {
    line-height: $mob !important;
  }
}

/*********************************
BACKGROUND IMAGES
*********************************/
@mixin bg-cc {
  background-size: cover !important;
  background-position: center !important;
}

/*********************************
SVG BACKGROUND IMAGE WITH FALLBACK
*********************************/
$image-path: "../img" !default;
$fallback-extension: "png" !default;
$retina-suffix: "@2x";

@mixin background-image($name, $size: false) {
  background-image: url("#{$image-path}/#{$name}.svg");

  @if $size {
    background-size: $size;
  }

  .no-svg & {
    background-image: url("#{$image-path}/#{$name}.#{$fallback-extension}");

    @media only screen and (-moz-min-device-pixel-ratio: 1.5),
      only screen and (-o-min-device-pixel-ratio: 3 / 2),
      only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url("#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension}");
    }
  }
}

/* USAGE
.lb_div {
    @include background-image('bg');
}
** must have bg.svg, bg.png & bg@2x.png
*/
