/******************************************************************

Stylesheet: Variables

******************************************************************/

/* Colours */
$color1: #124fcb; // blue
$color2: #fade2f; // yellow
$color3: #161d38; // deep blue
$color4: #e9effa; // light blue
$color5: #f2f5fc; // light grey - blue
$color6: #e9eaec; // text white
$color-hover: $color3;
$color-active: $color3;

$color-p: #161d38;
$text-gray: #a4a3a6;
$text-white: #e9eaec;
$white: #ffffff;
$gray: #eff1f3;
$black: #000000;
$dark-gray: #707070;
$bar-color: $color1;

/* Spacing / Padding */

$col: 100% / 12;
$col-vw: 100vw / 12;

// section spacing
$section-desktop: 120px;
$section-laptop: 100px;
$section-tablet: 60px;
$section-mobile: 60px;

//transitions
$transition: 0.25s ease-in-out;
$transition-slow: 0.5s ease-in-out;

// common device break points
$desktop-break: 1920px;
$laptop-break-lrg: 1700px;
$laptop-break: 1440px;
$laptop-break-sml: 1280px;
$tablet-break: 1024px;
$tablet-break-sml: 768px;
$mobile-break: 600px;
$mobile-break-sml: 340px;
