/******************************************************************

Stylesheet: Cart

Styles for Cart page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.ct-inner-content {
  margin-top: 0 !important;
}

.button {
  display: block !important;
  text-align: left !important;
  &[title~="Cart"] {
    &::after {
      transform: scaleX(1);
    }
  }
}

#section-2-18 {
  display: flex;
  justify-content: center;

  .ct-section-inner-wrap {
    width: $col * 10;
    @include breakpoint($tablet-break) {
      width: 100%;
    }
    h1 {
      margin-bottom: 40px;

      @include breakpoint($tablet-break) {
        margin-bottom: 20px;
      }
    }

    @include breakpoint($tablet-break) {
      width: 100%;
    }

    .shop_table {
      border-top-color: $color1;

      th {
        color: $color3;
      }
    }

    .product-name {
      &, a {
        color: $color3;
        font-family: $sans-serif !important;
        font-weight: 700 !important;
        text-decoration: none !important;
      }

      a {
        &:hover {
          color: $color1;
        }
      }
    }
    .shipping {
      display: none;
    }

    .cart_price {
      del {
        opacity: 0.5;
        margin-right: 0.25rem;
      }

      ins {
        text-decoration: none;
      }
    }
    .woocommerce-info,
    .woocommerce-error,
    .woocommerce-message,
    .col2-set,
    .woocommerce-EditAccountForm {
      border-top-color: $color1;

      &::before {
        color: $color1;
      }
    }
    .cart-collaterals {
      margin-top: 20px;

      @include breakpoint($tablet-break) {
        marign-top: 10px;
      }

      .cart_totals {
        display: flex;
        flex-direction: column;

        .button {
          align-self: flex-end;
        }
      }
    }
  }
}
