/******************************************************************

Stylesheet: Checkout

Styles for Checkout page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.ct-inner-content {
  margin-top: 0 !important;
}

#section-2-19 {
  display: flex;
  justify-content: center;

  .ct-section-inner-wrap {
    width: $col * 10;
    @include breakpoint($tablet-break) {
      width: 100%;
    }
    h1 {
      margin-bottom: 40px;

      @include breakpoint($tablet-break) {
        margin-bottom: 20px;
      }
    }
    .shop_table,
    .col2-set,
    .woocommerce-notice,
    .woocommerce-info,
    .woocommerce-form {
      border-top-color: $color1 !important;

      #createaccount {
        padding-left: 10px;
      }

      &::before {
        color: $color1;
      }

      th {
        color: $color3;
      }

      a {
        color: $color3;
        text-decoration: none;

        &:hover {
          color: $color1;
        }
      }
    }

    .woocommerce-terms-and-conditions-wrapper {
      margin-top: 20px;
      a {
        color: $color3;
        text-decoration: none;

        &:hover {
          color: $color1;
        }
      }
    }

    #place_order {
      margin-top: 20px;
    }

    #wc_checkout_add_ons {
      padding: 20px;
      background-color: $color5;

      .form-row {
        label {
          font-size: 1rem;
          color: $color-p;
          font-weight: 600 !important;
        }

        input {
          opacity: 1 !important;
        }
      }
    }
  }
}

.form-row {
  .woocommerce-form-login__rememberme {
    margin-top: 0 !important;
    padding-left: 10px !important;
    
    input {
      margin: -2px 8px 0 0;
    }
  }
  .checkbox {
    padding-left: 10px !important;
  }
  label {
    font-size: 1rem;
    color: $color-p;
    font-weight: 600 !important;
  }
  &.mailchimp-newsletter {
    margin-top: 20px !important;
    padding-left: 10px !important;
    position: relative;

    label {
      &::before {
        width: 24px;
        height: 24px;
        border: 1px solid #d3ced2;
        background-color: #ffffff;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-size: 50%;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
      }
    }

    input {
      &:checked {
        ~label {
          &:before {
            background: url(https://theveilremoved.com/wp-content/plugins/oxygen-woocommerce/elements/assets/check-mark.svg), #ffffff !important;
            background-size: 50% !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
          }
        }
      }
    }

    span {
      cursor: pointer;
    }
  }

  input {
    opacity: 1 !important;
  }
}

// .woocommerce table.shop_table {
//   border: 3px solid $color1 !important;
// }
.woocommerce-thankyou-order-details {
  border-top: 3px solid $color1 !important;

  li {
    @include breakpoint($mobile-break) {
      width: 100% !important;
      border-right: 0 !important;
      padding-bottom: 1rem;
    }
  }
}

.woocommerce div.product form.cart .variations label, 
.woocommerce form label {
  color: $black !important;
}