/******************************************************************

Stylesheet: Product Loop

Styles for Product Loop page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
@import "../../elements/woocommerce-menu";

.product {
  .woocommerce-loop-product__link {
    display: flex;
    flex-direction: column;
    color: $color3;
    &:hover {
      .woocommerce-loop-product__title {
        color: $color1 !important;
      }
    }

    .cat-wrapper {
      order: 2;
      margin-top: 10px;

      .cat {
        font-family: $sans-serif;
        @include font-size(12px, 11px, 9px, 9px);
        line-height: 1.2 !important;
      }
    }

    .size-woocommerce_thumbnail {
      order: 1;
      margin-bottom: 0 !important;
    }

    .woocommerce-loop-product__title {
      margin-top: 3px !important;
      order: 3;
      padding: 0 !important;
      line-height: 1.2 !important;
      @include font-size(16px, 14px, 12px, 12px);
      font-family: $sans-serif !important;
      font-weight: 700 !important;
      color: $color3 !important;
      transition: $transition;
    }

    .subtitle {
      order: 4;
      margin-top: 5px;
      @include font-size(16px, 14px, 12px, 12px);
      font-family: $sans-serif !important;
      line-height: 1.2 !important;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .price {
      margin: 0 !important;
      margin-top: 7px !important;
      order: 5;

      .amount {
        @include font-size(20px, 17.5px, 15px, 15px);
        line-height: 1.2 !important;
        font-style: italic;
        font-weight: 700;
        font-family: $sans-serif !important;
      }

      .cart_price {
        > ins {
          display: none !important;
        }
        > del {
          .amount {
            @include font-size(20px, 17.5px, 15px, 15px);
            font-style: italic;
            font-weight: 700;
            font-family: $sans-serif !important;
            color: $color3;
          }
        }
      }
    }
    .star-rating,
    .onsale {
      display: none !important;
    }
  }

  .add_to_cart_button {
    // margin-top: calc(-20px * 1.2) !important;
    margin-top: 0.5rem !important;
    align-self: flex-end;
    @include font-size(12px, 11px, 9px, 9px);
    // @include breakpoint($laptop-break) {
    //   margin-top: calc(-17.5px * 1.2) !important;
    // }
    // @include breakpoint($tablet-break) {
    //   margin-top: calc(-15px * 1.2) !important;
    // }

    @include breakpoint($mobile-break) {
      &:not(#yes) {
        padding: 0px 4px !important;
      }
    }

    @include breakpoint($mobile-break-sml) {
      // margin-top: 10px !important;
      align-self: flex-start;
    }
  }
}

#wc-stripe-payment-request-button-separator,
#wc-stripe-payment-request-wrapper {
  display: none !important;
}
