/******************************************************************

Site Name: TVR

Stylesheet: Accordion

******************************************************************/
.accordion-sml {
	width: 100%;
	// @include margin-bottom-20;

	// &:last-child {
	//     margin-bottom: 0 !important;
	// }

	> .accordion-sml-inner {
		width: 100%;

		> .title {
			width: 100%;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			padding: 20px;
			box-shadow: 0 2px 4px transparentize($color: $black, $amount: 0.9);

			&.active {
				> .title-inner::after {
					transform: translateY(-50%) rotate(180deg);
				}
			}

			> .title-inner {
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: space-between;
				position: relative;
				padding-right: 3.5rem;

				&::after {
					content: '';
					width: 1.5rem;
					height: 0.75rem;
					background-image: url('https://theveilremoved.com/wp-content/uploads/2019/11/down-chevron-yellow.svg');
					background-size: contain;
					background-position: center;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					transition: $transition;

					@include breakpoint($laptop-break) {
						width: 20px;
						height: 10px;
					}
				}

				h5 {
					font-size: 1rem !important;
					font-weight: 700 !important;
					letter-spacing: -0.1;
					@include font-size(16px, 14px, 12px, 12px);
				}

				.arrow {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;

					img {
						transition: $transition;
					}
				}
			}

			&.active {
				&::after {
					transform: translateX(0);
				}

				.arrow {
					img {
						transform: rotate(180deg);
					}
				}
			}
		}

		> .body {
			display: none;

			> .body-inner {
				width: 100%;
				background-color: $color5;
				padding: 20px;
			}
		}
	}
}
