/******************************************************************

Site Name: TVR

Stylesheet: Buttons

******************************************************************/
/**********************
BUTTONS
**********************/
@mixin btn {
  border-width: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  padding-bottom: 5px !important;
  position: relative;
  display: inline-block;
  width: auto;
  background: transparent !important;
  font-family: $sans-serif;
  color: $color3 !important;
  @include font-size(16px, 14px, 12px, 12px);
  line-height: 1.5em !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 900 !important;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: $color1;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0.5);
    transition: $transition;
    transform-origin: center left;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }

  &.white {
    color: $color6 !important;

    &::after {
      background: $color6 !important;
    }
  }

  &.top {
    margin-top: 20px;

    @include breakpoint($tablet-break) {
      margin-top: 15px;
    }
  }

  &.pop-up {
    $line-size: 13px;
    padding-right: calc(#{$line-size} + 10px) !important;
    padding-bottom: 0 !important;

    &::after {
      content: "";
      background: $color1;
      height: $line-size;
      width: 2px;
      position: absolute;
      top: 50%;
      bottom: initial;
      left: initial;
      right: calc((#{$line-size} / 2) - 1px);
      transform: translateY(-50%);
    }

    &::before {
      content: "";
      background: $color1;
      width: $line-size;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &.outside-link {
    padding-bottom: 0 !important;
    padding-right: calc(15px + 10px) !important;

    &::after {
      content: "";
      background: url("https://theveilremoved.com/wp-content/uploads/2019/11/external-link-blue.svg");
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      bottom: initial;
      left: initial;
      right: 0;
      transform: translateY(-50%);
      @include bg-cc;
      background-repeat: no-repeat;
      transition: $transition;
    }

    &:hover {
      &::after {
        transform: translateY(calc(-50% - 5px)) translateX(5px);
      }
    }
  }

  &.add_to_cart_button,
  &.single_add_to_cart_button {
    padding: 1px 7px !important;
    border: 2px solid $color1 !important;
    z-index: 1;
    font-weight: 400 !important;
    text-transform: capitalize !important;
    color: $white !important;
    font-family: $sans-serif !important;

    &::after {
      width: 100%;
      height: 100%;
      transform: scaleX(1);
      z-index: -1;
      transform-origin: center left;
    }

    &:hover {
      color: $color1 !important;

      &::after {
        transform: scaleX(0);
      }
    }
  }

  &.cart {
    padding-right: calc(1em + 10px) !important;

    &::before {
      content: "";
      width: 1em;
      height: 1em;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("https://theveilremoved.com/wp-content/uploads/2019/12/cart.svg");
      background-size: contain;
      background-position: center;
    }
  }
}

.btn,
.button,
.ct-link-button {
  @include btn;
}

// Remove outline on links
.no-focus-outline a:active,
.no-focus-outline a:focus {
  outline: 0;
  border: none;
}

// Read More styles
@mixin read-more-btn {
  align-self: flex-end;
  padding-top: 10px !important;
  border-top: 1px solid $color1 !important;
  width: 50%;
  color: $color3 !important;
  height: auto !important;
  line-height: 1 !important;
  background: transparent !important;
  text-align: right;
  padding-right: calc(14px + 5px) !important;
  outline: none;
  text-transform: uppercase;
  border-radius: 0 !important;
  padding-bottom: 0;
  margin-top: 20px;

  &::after {
    content: "";
    position: absolute;
    right: 0 !important;
    left: initial;
    top: calc(50% - 10px);
    background: transparent;
    height: 7px;
    transform: translateY(calc(-50% + 10px));
    width: 14px !important;
    background-image: url("https://theveilremoved.com/wp-content/uploads/2019/11/Group-2857.png");
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center;
  }

  &.active {
    margin-top: 1rem;

    &::after {
      transform: translateY(calc(-50% + 10px)) rotate(180deg);
    }
  }
}

.read-more.btn {
  @include read-more-btn;
}
.alm-btn-wrap {
  padding: 0 !important;
  display: flex !important;
  width: 100%;
  justify-content: flex-end;

  &::after {
    display: none !important;
  }

  .alm-load-more-btn {
    margin-top: 30px !important;
    @include read-more-btn;
    text-align: right !important;
    padding-bottom: 5px !important;
    width: calc(100% / 3 - 15px) !important;
    font-weight: 600 !important;
    box-shadow: none !important;

    @include breakpoint($tablet-break) {
      margin-top: 20px !important;
    }
    @include breakpoint($mobile-break) {
      width: 75% !important;
    }

    &::before {
      display: none !important;
    }

    &.done {
      display: none;
    }
  }
}

.read-more-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .hidden-elements-wrapper {
    p {
      &:first-child {
        margin-top: 1rem;
      }
    }
  }
}
