/******************************************************************

Site Name: TVR

Stylesheet: Global Footer

******************************************************************/

footer {
  background: $color3;
  color: $white;
  padding-top: 100px;

  @include breakpoint($laptop-break) {
    padding-top: 80px;
  }

  @include breakpoint($tablet-break) {
    padding-top: 60px;
  }

  @include breakpoint($mobile-break) {
    padding-top: 60px;
  }

  .footer-bottom {
    justify-content: space-between;
    align-items: flex-end; // padding-top: 100px;
    padding-top: calc(100px - 3.6rem);
    padding-bottom: 2rem;

    @include breakpoint($laptop-break) {
      align-items: flex-end; // padding-top: 100px;
      padding-top: calc(80px - 3.6rem);
    }

    @include breakpoint($tablet-break) {
      // padding-top: 80px;
      padding-top: calc(60px - 3.6rem);
    }

    @include breakpoint($mobile-break) {
      // padding-top: calc(60px + 2.6rem);
      padding-top: 60px;
      flex-direction: column !important;
      align-items: center;
    }

    .footer-bottom-text {
      display: inline-block;
      max-width: calc(100% - 50px);

      @include breakpoint($tablet-break) {
        max-width: calc(80% - 50px);
      }

      @include breakpoint($mobile-break) {
        // margin-bottom: 1rem; // text-align: center;
        margin-bottom: 60px;
      }

      .oxy-rich-text {
        &.desktop-hide {
          display: none;

          @include breakpoint ($mobile-break) {
            display: block !important;
          }
        }
        margin-bottom: 0; // a {
        //   display: inline-block;
        //   font-weight: 800;
        //   &:hover,
        //   &:focus {
        //     color: $color2;
        //   }
        // }
        a {
          padding: 0 !important;
          margin: 0 !important;
          color: $white;
          border: 0 !important;
          position: relative;
          text-transform: none;
          background: transparent !important;
          margin-left: 5px !important;
          font-weight: 800; // @include nav-font;
          // @include font-size(22px, 19px, 16px, 16px);
          &::before {
            content: "";
            width: 100%;
            height: 2px;
            background: $color2;
            position: absolute;
            bottom: -4px;
            left: 0;
            transition: $transition;
            transform-origin: left;
            transform: scaleX(0.25);
          }

          &:hover {
            &::before {
              transform: scaleX(1);
            }
          }
          &:focus {
            color: $white !important;
          }

          &::after {
            display: none;
          }
        }
      }
    }
  }

  .ct-section-inner-wrap {
    align-items: center !important;

    .lb-logo {
      width: 1.6rem;
      opacity: 0.15;

      &:hover {
        opacity: 0.5;
      }
    }
  }
  h5 {
    margin-bottom: 20px;
    font-weight: 700 !important;
    @include font-size(22px, 19px, 16px, 16px);
  }

  .oxy-rich-text,
  p {
    line-height: 1.75em !important;
    margin-bottom: 0 !important;
  }

  a {
    color: $white;
  }

  .ct-new-columns {
    &:not(#yes) {
      .large-4 {
        width: $col * 4 !important;

        @include breakpoint($mobile-break) {
          width: 100% !important;
        }

        a {
          display: inline-block;
          &:hover,
          &:focus {
            color: $color2 !important;

            svg {
              path {
                fill: $color2 !important;
              }
            }
          }
        }
        .footer-bottom-text {
          display: inline-block;
          margin-top: 1rem;
          max-width: 30em;

          @include breakpoint($laptop-break) {
            max-width: 25em;
          }

          @include breakpoint($mobile-break) {
            // margin-bottom: 1rem; // text-align: center;
          }

          .oxy-rich-text {
            margin-bottom: 0; // a {
            //   display: inline-block;
            //   font-weight: 800;
            //   &:hover,
            //   &:focus {
            //     color: $color2;
            //   }
            // }
            a {
              padding: 0 !important;
              margin: 0 !important;
              color: $white;
              border: 0 !important;
              position: relative;
              text-transform: none;
              background: transparent !important;
              margin-left: 5px !important;
              font-weight: 800;

              &::before {
                content: "";
                width: 100%;
                height: 2px;
                background: $color2;
                position: absolute;
                bottom: -4px;
                left: 0;
                transition: $transition;
                transform-origin: left;
                transform: scaleX(0.25);
              }

              &:hover {
                color: $white !important;
                &::before {
                  transform: scaleX(1);
                }
              }
              &:focus {
                color: $white !important;
              }

              &::after {
                display: none;
              }
            }
          }
        }

        &:nth-child(1) {
          .mail {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            color: $white;
          }
          img,
          svg {
            width: 1.25rem;
            margin-right: 1rem;

            path {
              transition: $transition;
            }
          }
          @include breakpoint($mobile-break) {
            display: none;
          }
        }

        &:nth-child(2) {
          align-items: center;

          img {
            width: 342px;

            @include breakpoint($laptop-break-lrg) {
              width: 280px;
            }

            @include breakpoint($laptop-break - 1px) {
              width: 250px;
            }
            @include breakpoint($tablet-break) {
              width: 215px;
            }

            @include breakpoint($mobile-break) {
              width: 180px;
            }
          }
        }

        &:nth-child(3) {
          align-items: flex-end;
          text-align: right;

          .ct-code-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            text-align: right;

            @include breakpoint($mobile-break) {
              flex-direction: row;
              align-items: center;
              justify-content: center;
              text-align: center; 
              margin-top: 40px;
            }
          }

          .oxy-rich-text {
            @include breakpoint($mobile-break) {
              display: none;
            }
          }

          a {
            color: $white;
            line-height: 1.5rem;
          }

          .social {
            a {
              &:not(:last-child) {
                margin-right: 1.5rem;
              }

              @include breakpoint($mobile-break) {
                margin: 0 1rem !important;
                margin-bottom: 0 !important;
              }

              &:hover,
              &:focus {
                svg {
                  fill: $color2;
                }
              }
            }
            svg {
              height: 1.5rem;
              width: 1.5rem;
              fill: $white;
              transition: $transition !important;

              @include breakpoint($mobile-break) {
                width: auto;
              }

              #FontAwesomeicon-facebook {
                padding: 2px;
              }
            }
          }
        }
      }
    }
  }

  nav {
    margin-top: 60px;

    @include breakpoint($laptop-break) {
      margin-top: 50px;
    }

    @include breakpoint($tablet-break) {
      margin-top: 40px;
    }
    &#_nav_menu-6-9 {
      @include breakpoint($mobile-break) {
        display: none;
      }
    }

    &#_nav_menu-12-9 {
      display: none;
      @include breakpoint($mobile-break) {
        display: block;
      }
    }
    .oxy-menu-toggle {
      display: none !important;
    }

    .oxy-nav-menu-list {
      flex-wrap: wrap;
      display: flex !important;

      li {
        display: flex;
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
        border: 0 !important;
        align-items: flex-start;
        margin-right: 40px !important;
        background: transparent !important;

        @include breakpoint($tablet-break) {
          margin-right: 36px !important;
        }

        &:last-child {
          margin-right: 0 !important;
        }

        a {
          padding: 0 !important;
          margin: 0 !important;
          color: $white;
          border: 0 !important;
          position: relative;
          text-transform: none;
          background: transparent !important;
          @include nav-font;
          @include font-size(22px, 19px, 16px, 16px);
          &::before {
            content: "";
            width: 100%;
            height: 2px;
            background: $color2;
            position: absolute;
            bottom: -4px;
            left: 0;
            transition: $transition;
            transform-origin: left;
            transform: scaleX(0);
          }

          &:hover {
            &::before {
              transform: scaleX(1);
            }
          }

          &::after {
            display: none;
          }
        }
      }
    }
  }
}
