/******************************************************************

Site Name:
Author:

Stylesheet: Gravity Form Styles

For universal gravity forms style overrides. For individual page form overrides please use the specific page SCSS file.

This is not an exhaustive list. 
For other GF CSS classes, go here: https://www.gravityhelp.com/documentation/article/css-targeting-samples/

******************************************************************/

/*********************
GRAVITY FORM UNIVERSAL STYLES
*********************/
body {
	.gform_wrapper {
		margin: 0 !important;
		padding: 0 !important;

		.gform_heading {
			.gform_title {
				font: $h3;
			}
		}

		.gform_body .gform_fields .gfield {
			margin-top: 1rem !important;
			padding-right: 0;

			@include breakpoint($mobile-break) {
				margin-top: 0.75rem !important;

				span.name_last {
					margin-top: 0.75rem !important;
				}
			}

			.ginput_container_address {
				> span {
					margin-top: 1.5rem !important;
					padding-right: 0;
					display: inline-block;

					@include breakpoint($tablet-break) {
						margin-top: 1rem !important;
					}
					@include breakpoint($mobile-break) {
						margin-top: 1rem !important;
					}
				}
			}

			&:first-child {
				margin-top: 0 !important;
			}

			> .gfield_label {
				display: none !important;
			}

			input[type='text'],
			select,
			textarea {
				color: $color-p;
				border: 0 !important;
				border-bottom: 1px solid $color3 !important;
				background: transparent;
				border-radius: 0  !important;
				transition: $transition;
				outline: none !important;
				padding: 10px !important;
				font: $body-font;

				&::placeholder,
				&::-moz-placeholder,
				&:-ms-input-placeholder,
				&:-moz-placeholder,
				&::webkit-input-placeholder {
					color: $color1 !important;
					text-transform: uppercase;
					opacity: 1 !important;
				}

				&:hover,
				&:focus {
					border-color: $color1;
				}

				+ label {
					display: none;
				}
			}

			input::webkit-input-placeholder {
				opacity: 1 !important;
			}

			select {
				height: 45px;
				-webkit-appearance: initial;
				border-radius: 0;
				margin: 0 !important;
				color: $color3;
				

				@include breakpoint($laptop-break) {
					height: 42px;
				}
			}

			textarea {
				@include breakpoint($tablet-break) {
					height: 80px;
				}
			}

			.gfield_radio,
			.gfield_checkbox {
				li {
					input {
						display: none;

						&:checked {
							+ label {
								&::after {
									opacity: 1;
								}
							}
						}
					}

					label.checked::after {
						opacity: 1;
					}

					label {
						display: block;
						position: relative;
						padding-left: 2rem;
						margin-right: 0;
						font: $body-font;
						font-weight: 400 !important;
						color: $color3;
						max-width: initial;
						width: 100%;

						a {
							font-weight: 700 !important;
							color: $color3;

							&:hover {
								color: $color2;
							}
						}

						$size: 20px;

						&::before {
							width: $size;
							height: $size;
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							background: $white;
							border: 2px solid $color3;
						}

						&::after {
							$size-reduction: 10px;
							width: calc(#{$size} - #{$size-reduction});
							height: calc(#{$size} - #{$size-reduction});
							content: '';
							position: absolute;
							background: $color2;
							background-size: cover !important;
							background-position: center !important;
							top: $size-reduction/2;
							left: $size-reduction/2;
							opacity: 0;
							transition: $transition;
						}
					}
				}
			}

			.gfield_radio {
				li {
					label {
						&::before,
						&::after {
							border-radius: 100%;
						}
					}
				}
			}
		}

		.gform_footer {
			margin: 0 !important;
			padding: 0 !important;
			text-align: right;
			.gform_button {
				margin-right: 0 !important;
				@include btn;

				margin-top: 40px !important;

				@include breakpoint($tablet-break) {
					margin-top: 30px !important;
				}
			}
		}
	}
}

.gform_ajax_spinner {
	max-width: 20px !important;
}

.grecaptcha-badge {
	z-index: 9999;
}

.home .grecaptcha-badge {
    width: 70px !important;
    right: 0 !important;
}

/*********************
ACTIVE STATES
*********************/

// spacing out the password
input[type='password'] {
	letter-spacing: 0.3em;
}

::-webkit-input-placeholder {
	/* Chrome */
	color: $color3 !important;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: $color3 !important;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: $color3 !important;
	opacity: 1 !important;
}
:-moz-placeholder {
	/* Firefox 4 - 18 */
	color: $color3 !important;
	opacity: 1 !important;
}
