/******************************************************************

Site Name: TVR

Stylesheet: Have Questions Row

******************************************************************/
#section-40-14 {
  .grid-container {
    align-items: center;
  }
  .questions {
    padding: $col/3 $col/2;
    width: $col * 7;
    box-shadow: 0 3px 6px transparentize($color: $black, $amount: 0.84);
    background: $color5;

    @include breakpoint($laptop-break) {
      padding: $col/2 $col;
      width: $col * 8.5;
    }

    @include breakpoint($tablet-break) {
      width: $col * 11.5;
    }

    @include breakpoint($mobile-break) {
      width: $col * 12;
      padding: 40px $col;
    }

    h4 {
      margin-bottom: 20px;
      font-family: $sans-serif !important;
      @include font-size(24px, 21px, 18px, 18px);

      @include breakpoint($tablet-break) {
        margin-bottom: 15px;
      }
    }

    .ct-link-button {
      margin-top: 30px;

      @include breakpoint($tablet-break) {
        margin-top: 20px;
      }
    }
  }
}
