/******************************************************************

Site Name: TVR

Stylesheet: Global Header

******************************************************************/

header {
  background: $color5;
  box-shadow: 0 3px 6px transparentize($color: #000000, $amount: 0.84);
  z-index: 2;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 90;
  @include rule-and-params(height, 100px, 80px, 80px, 80px);

  @include breakpoint(1250px) {
    box-shadow: none;
    background: $color1;
  }

  &::after {
    content: "";
    width: 12rem;
    height: 100%;
    position: absolute;
    background: $color1;
    right: 0;
    top: 0;
    z-index: 9;
  }

  .ct-section-inner-wrap {
    justify-content: center;
    position: relative;
    z-index: 10;
  }

  .grid-container {
    &:not(#yes) {
      .large-2 {
        justify-content: center;

        a {
          @include breakpoint(1250px) {
            width: 131px;
          }
        }

        img {
          @include breakpoint(1250px) {
            content: url("https://theveilremoved.com/wp-content/uploads/2019/11/logo-white.svg");
          }
        }

        @include breakpoint(1250px) {
          width: $col * 3 !important;
        }
      }
      .large-10 {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        @include breakpoint(1250px) {
          width: $col * 9 !important;
        }
      }
    }
  }
}

.oxy-menu-toggle {
  display: none !important;
}

.mobile-btn {
  width: 23px;
  cursor: pointer;
  display: none !important;
  align-items: flex-end;
  box-sizing: content-box;
  padding: 1rem 0 1rem 30px;
  padding-left: 30px;
  background: $color1;

  @include breakpoint(1250px) {
    display: flex !important;
  }

  > div {
    margin-bottom: 6px;
    background: $white;
    width: 100%;
    height: 2px;
    transition: $transition;
    transform-origin: left;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  &.active {
    > div {
      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: scaleX(0);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}

.oxy-nav-menu-list {
  flex-wrap: wrap;
  display: flex !important;

  li {
    display: flex;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border: 0 !important;
    align-items: flex-start;
    margin-right: 50px !important;
    background: transparent !important;

    @include breakpoint($laptop-break) {
      margin-right: 30px !important;
    }

    &:last-child {
      margin-right: 0 !important;
    }

    &.current_page_item {
      a {
        &::before {
          transform: scaleX(1);
        }
        &:hover {
          &::before {
            transform: scaleX(1);
          }
        }
      }
    }

    a {
      padding: 0 !important;
      margin: 0 !important;
      color: $color3;
      border: 0 !important;
      position: relative;
      text-transform: none;
      background: transparent !important;
      @include nav-font;
      @include font-size(16px, 14px, 14px, 14px);

      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background: $color1;
        position: absolute;
        bottom: -4px;
        left: 0;
        transition: $transition;
        transform-origin: left;
        transform: scaleX(0);
      }

      &:hover {
        &::before {
          transform: scaleX(0.5);
        }
      }

      &::after {
        display: none;
      }
    }
  }
}

// fancy dontate icon
#menu-item-37,
#menu-item-148 {
  padding-left: calc(30px + 0.9rem) !important;

  &::after {
    display: block !important;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("https://theveilremoved.com/wp-content/uploads/2019/11/donate-icon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#_nav_menu-8-8 {
  padding-right: 50px;

  @include breakpoint($laptop-break) {
    padding-right: 30px !important;
  }

  @include breakpoint(1250px) {
    display: none;
  }
}
#_nav_menu-9-8,
#_nav_menu-16-8 {
  background: $color1;
  padding-left: 50px;

  @include breakpoint($laptop-break) {
    padding-left: 30px !important;
  }

  li {
    height: 100px;
    justify-content: center;

    @include breakpoint($laptop-break) {
      height: 80px;
    }

    a {
      color: $white;

      &::before {
        background: $color2;
      }
    }
  }
  @include breakpoint($mobile-break) {
    display: none;
  }
}

#_nav_menu-9-8 {
  @include breakpoint(1250px) {
    display: none;
  }
}

#_nav_menu-16-8 {
  display: none;

  @include breakpoint(1250px) {
    display: flex;
  }

  @include breakpoint($mobile-break) {
    display: none;
  }
}

.mobile-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 100px;
  left: 0;
  background: $color4;
  width: 100%;
  height: 100vh;
  transition: $transition;
  z-index: 999999;

  @include section-padding-top;
  @include section-padding-bottom;
  @include breakpoint(1250px) {
    display: flex;
    top: 80px;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .menu-tablet-header-menu-container {
    display: none;

    @include breakpoint($mobile-break) {
      display: block;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    li {
      list-style: none;
      margin-bottom: 0.75rem;

      &.current_page_item {
        a {
          &::before {
            transform: translateX(0);
          }

          &:hover {
            &::before {
              transform: translateX(0);
            }
          }
        }
      }

      a {
        background: transparent !important;
        border: 0 !important;
        font-size: 2rem;
        font-family: $sans-serif;
        font-weight: 700;
        line-height: 1.5rem !important;
        text-transform: uppercase;
        color: $color3;
        display: inline-block;
        width: auto;
        margin: 0 !important;
        padding: 0 !important;
        padding-bottom: 4px !important;
        position: relative;
        overflow: hidden;
        @include font-size(22px, 19px, 16px, 16px);

        &::before {
          content: "";
          width: 100%;
          height: 3px;
          background: $color1;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: $transition;
          transform: translateX(-101%);
        }

        &:hover {
          &::before {
            transform: translateX(-50%);
          }
        }
      }
    }
  }

  .social {
    display: flex;

    @include margin-top($col-vw / 2);

    a {
      color: $white;
      margin-right: 1.5rem;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $color2;
      }

      .ct-fancy-icon {
        width: 1.5rem;

        @include breakpoint(1250px) {
          width: 1.833rem;
        }
      }
    }
  }
}
