/******************************************************************

Site Name: TVR

Stylesheet: Tabs

******************************************************************/
.tabs {
  width: 100%;
}

.tab-nav {
  display: inline-block;
  z-index: 10;
  position: relative;
  width: auto;
  overflow: hidden;
  position: relative;
  
  .overflow & {
    width: 100%;
    
    &::after {
      content: "";
      width: 2rem;
      height: 100%;
      position: absolute;
      right: -1px;
      top: 0;
      background: linear-gradient(to left, white, transparentize(white, 1));
      z-index: 2;

      @include breakpoint($mobile-break) {
        width: 3rem;
      }
    }

    .tab-nav-inner {
      padding-right: 2rem;
  
      @include breakpoint($mobile-break) {
        padding-right: 3rem;
      }
    }
  }

  .tab-nav-inner {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .tab-nav-item {
      font-family: $sans-serif;
      color: $color3;
      padding-bottom: 4px;
      margin-right: 30px;
      position: relative;
      @include font-size(16px, 14px, 12px, 12px);

      @include breakpoint($mobile-break) {
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background: $color1;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: $transition;
        transform-origin: left center;
      }

      &:hover {
        &::after {
          transform: scaleX(0.5);
        }
      }

      &.active {
        font-weight: 700;
        &::after {
          transform: scaleX(1);
        }

        &:hover {
          &::after {
            transform: scaleX(1);
          }
        }
      }

      &.non-tab {
        padding-right: 1.5em;

        &::before {
          content: "";
          background-image: url("https://theveilremoved.com/wp-content/uploads/2020/02/outbound-link.svg");
          width: 1em;
          height: 1em;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.tab-bodies {
  width: 100%;
  z-index: 8;
  position: relative;
  .tab-body {
    display: none;

    &.active {
      display: block;
      animation: lb-fade-in 0.5s;
      animation-fill-mode: forwards;

      @at-root {
        @keyframes lb-fade-in {
          from {
            transform: translateY(10px);
            opacity: 0;
          }

          to {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }
}
