/******************************************************************

Site Name: TVR

Stylesheet: Woocommerce user menu

******************************************************************/
.page {
  #code_block-2-54 {
    .woocommerce-notices-wrapper {
      display: none;
    }
  }
}
#code_block-2-54 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include pad-top-30;

  @include breakpoint($laptop-break) {
    margin-top: 80px;
  }

  .woo-menu-wrapper {
    display: flex;
    justify-content: flex-end;

    a {
      margin-left: 30px !important;
      padding-bottom: 0 !important;

      @include breakpoint($tablet-break) {
        margin-left: 20px;
      }

      &::after {
        display: none !important;
      }
      &:hover {
        color: $color1 !important;
      }
      @include breakpoint($tablet-break) {
        margin-left: 15px !important;
      }

      &:first-child {
        margin-left: 0 !important;
      }

      span.cart {
        color: $white;
        font-size: 12px;
        background: $color1;
        width: 2em;
        height: 2em;
        border-radius: 100%;
        line-height: 2em;
        position: absolute;
        right: -1.5em;
        bottom: -1em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }

  .woocommerce-message {
    border-top-color: $color1;
    margin-bottom: 0 !important;
    @include margin-top-30;

    &::before {
      color: $color1;
    }

    a {
      display: none;
    }
  }
}
